Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(lint): drop unnecessary String.raw in e2e-sftp spec for unicorn 71
  tests/playwright/e2e-sftp.spec.ts
Due: eslint --fix

fix(lint): enable modern-JS unicorn rules and resolve SonarCloud findings (#557)
  app/logging/syslog-formatter.ts
  app/routes/telnet-routes.ts
  app/services/telnet/telnet-service.ts
  app/services/theming/theme-validator.ts
  eslint.config.mjs
  scripts/host-key-seed.ts
  tests/integration/scripts/host-key-seed-cli.vitest.ts
  tests/playwright/e2e-sftp.spec.ts
  tests/playwright/issue-102-header-smoke.spec.ts
  tests/unit/config/telnet-config.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
  tests/unit/services/telnet/telnet-types.vitest.ts
  tests/unit/theming/theming-injection.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
Due: eslint --fix

fix(ci): harden release workflow curls and pin playwright invocation
  .github/workflows/e2e-ssh.yml
  .github/workflows/rebuild-release-tags.yml
Due: none

fix(security): skip install lifecycle scripts and restore native deps explicitly
  .devcontainer/scripts/tools.sh
  .github/workflows/ci.yml
  Dockerfile
  examples/Dockerfile
Due: none

fix(validation): use validator subpath imports and guard against bare import
  app/middleware/auth-processor.ts
  app/utils/data-masker.ts
  app/validation/socket/helpers.ts
  app/validation/ssh.ts
  eslint.config.mjs
  tsconfig.eslint.json
  types/validator-lib.d.ts
Due: eslint --fix, prettier --write

fix(validation): add .js extension to validator/lib subpath specifiers
  app/middleware/auth-processor.ts
  app/validation/socket/helpers.ts
  app/validation/ssh.ts
  types/validator-lib.d.ts
Due: eslint --fix

fix(tests): replace fixed waits with condition-based waits in e2e specs
  tests/playwright/e2e-sftp.spec.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/playwright/websocket-async-auth-v2.test.js
  tests/playwright/websocket-basic.test.js
Due: eslint --fix

fix(tests): stop two condition-based waits from resolving prematurely
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/playwright/websocket-basic.test.js
Due: eslint --fix

fix(tests): document why e2e specs are conditionally skipped
  tests/playwright/basic-auth-config-port.spec.ts
  tests/playwright/csp-enforce.spec.ts
  tests/playwright/e2e-sftp.spec.ts
  tests/playwright/e2e-ssh-acceptenv-v2.spec.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/playwright/theming.spec.ts
Due: eslint --fix

build(lint): add eslint-plugin-playwright for S2925/S1607 parity
  eslint.config.mjs
  eslint.config.sonar.mjs
  package-lock.json
  package.json
  tests/playwright/constants.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/playwright/v2-helpers.ts
Due: eslint --fix, prettier --write

refactor(config): split env-mapper into pure per-phase resolvers
  app/config/env-mapper.ts
Due: eslint --fix

refactor(theming): split validateTheme into per-field validators
  app/services/theming/theme-validator.ts
Due: eslint --fix

refactor: split three cognitive-complexity offenders below threshold
  app/services/sftp/sftp-service.ts
  scripts/host-key-seed.ts
  tests/unit/services/telnet/telnet-service.vitest.ts
Due: eslint --fix

chore(lint): promote sonarjs/cognitive-complexity to error
  eslint.config.mjs
  eslint.config.sonar.mjs
Due: eslint --fix

fix(ci): correct e2e spec filename and polish lint guards
  .github/workflows/e2e-ssh.yml
  eslint.config.mjs
  scripts/host-key-seed.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

fix: resolve remaining 37 SonarCloud findings (phases 2-4) (#560)
  .devcontainer/scripts/tools.sh
  .github/workflows/ci.yml
  .github/workflows/e2e-ssh.yml
  .github/workflows/rebuild-release-tags.yml
  Dockerfile
  app/config/env-mapper.ts
  app/middleware/auth-processor.ts
  app/services/sftp/sftp-service.ts
  app/services/theming/theme-validator.ts
  app/utils/data-masker.ts
  app/validation/socket/helpers.ts
  app/validation/ssh.ts
  eslint.config.mjs
  eslint.config.sonar.mjs
  examples/Dockerfile
  package-lock.json
  package.json
  scripts/host-key-seed.ts
  tests/playwright/basic-auth-config-port.spec.ts
  tests/playwright/constants.ts
  tests/playwright/csp-enforce.spec.ts
  tests/playwright/e2e-sftp.spec.ts
  tests/playwright/e2e-ssh-acceptenv-v2.spec.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/playwright/theming.spec.ts
  tests/playwright/v2-helpers.ts
  tests/playwright/websocket-async-auth-v2.test.js
  tests/playwright/websocket-basic.test.js
  tests/unit/scripts/host-key-seed.vitest.ts
  tests/unit/services/telnet/telnet-service.vitest.ts
  tsconfig.eslint.json
  types/validator-lib.d.ts
Due: eslint --fix, prettier --write

docs(config): document shiftEnterNewline option and env var (#497)
  DOCS/client/KEYBOARD_CAPTURE.md
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
Due: none

feat(injection): deliver terminal.shiftEnterNewline to client when enabled (#497)
  app/connectionHandler.ts
  tests/unit/connection-handler/terminal-injection.vitest.ts
Due: eslint --fix

feat(config): map WEBSSH2_TERMINAL_SHIFT_ENTER_NEWLINE env var (#497)
  app/config/env-mapper.ts
  tests/unit/config/env-mapper-shift-enter.vitest.ts
Due: eslint --fix

docs(config): move shiftEnterNewline bullet under its own Terminal Options heading (#497)
  DOCS/configuration/CONFIG-JSON.md
Due: none

style(tests): rename discard destructure to satisfy lint rules (#497)
  tests/unit/config/options-terminal-shift-enter.vitest.ts
  tests/unit/connection-handler/terminal-injection.vitest.ts
Due: eslint --fix

feat(config): add options.terminal.shiftEnterNewline, default off (#497)
  app/config/default-config.ts
  app/schemas/config-schema.ts
  app/types/config.ts
  tests/unit/config/options-terminal-shift-enter.vitest.ts
Due: eslint --fix

style(tests): drop type assertions made unnecessary by eslint 10 toolchain (#497)
  tests/unit/config/options-terminal-shift-enter.vitest.ts
  tests/unit/connection-handler/terminal-injection.vitest.ts
Due: eslint --fix

fix(config): ignore prototype-member algorithm preset names
  app/config/algorithm-presets.ts
  tests/unit/config/algorithm-presets.vitest.ts
Due: eslint --fix

test(config): cover prototype-member preset names in env mapping
  tests/unit/config/env-mapper.vitest.ts
Due: eslint --fix

fix(config): ignore prototype-member algorithm preset names (#562)
  app/config/algorithm-presets.ts
  tests/unit/config/algorithm-presets.vitest.ts
  tests/unit/config/env-mapper.vitest.ts
Due: eslint --fix

feat(client): bump webssh2_client to 5.2.0 with Shift+Enter remap (#497)
  package-lock.json
  package.json
Due: prettier --write

feat(config): shiftEnterNewline option + client config injection (#558)
  DOCS/client/KEYBOARD_CAPTURE.md
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/connectionHandler.ts
  app/schemas/config-schema.ts
  app/types/config.ts
  package-lock.json
  package.json
  tests/unit/config/env-mapper-shift-enter.vitest.ts
  tests/unit/config/options-terminal-shift-enter.vitest.ts
  tests/unit/connection-handler/terminal-injection.vitest.ts
Due: eslint --fix, prettier --write

feat: add pure transport-list parser for operator config (#549)
  app/config/transport-parser.ts
  tests/unit/config/transport-parser.vitest.ts
Due: eslint --fix

feat: accept options.transport / WEBSSH2_OPTIONS_TRANSPORT with fail-safe parsing (#549)
  app/config.ts
  app/config/env-mapper.ts
  app/logger.ts
  app/logging/event-catalog.ts
  app/schemas/config-schema.ts
  app/types/config.ts
  tests/unit/config/env-mapper-transport.vitest.ts
Due: eslint --fix

test: cover config.json options.transport normalization path (#549)
  tests/config-transport-file.vitest.ts
Due: eslint --fix

feat: inject socket.transports into runtime config when operator-forced (#549)
  app/connectionHandler.ts
  tests/unit/connection-handler/transport-injection.vitest.ts
Due: eslint --fix

docs: document options.transport and WEBSSH2_OPTIONS_TRANSPORT (#549)
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
Due: none

docs: correct WEBSSH2_OPTIONS_TRANSPORT format claim (#549)
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
Due: none

test: move transport config.json tests into config-async.vitest.ts (#549)
  tests/config-async.vitest.ts
  tests/config-transport-file.vitest.ts
Due: eslint --fix

docs: soften options.transport warning and default claims (#549)
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
Due: none

test: extract shared connection-handler injection test scaffolding (#549)
  tests/unit/connection-handler/injection-test-helpers.ts
  tests/unit/connection-handler/terminal-injection.vitest.ts
  tests/unit/connection-handler/transport-injection.vitest.ts
Due: eslint --fix

feat: honor operator-configured Socket.IO transport (#549) (#563)
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  app/config.ts
  app/config/env-mapper.ts
  app/config/transport-parser.ts
  app/connectionHandler.ts
  app/logger.ts
  app/logging/event-catalog.ts
  app/schemas/config-schema.ts
  app/types/config.ts
  tests/config-async.vitest.ts
  tests/unit/config/env-mapper-transport.vitest.ts
  tests/unit/config/transport-parser.vitest.ts
  tests/unit/connection-handler/injection-test-helpers.ts
  tests/unit/connection-handler/terminal-injection.vitest.ts
  tests/unit/connection-handler/transport-injection.vitest.ts
Due: eslint --fix

chore: pin webssh2_client 5.3.0 (transport honor, #549/#131)
  package-lock.json
  package.json
Due: prettier --write

test: e2e proof of operator-forced transport fallback (#549)
  tests/playwright/transport-fallback.spec.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
