Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: security updates and HTML error pages (#475)
  DOCS/api/ROUTES.md
  DOCS/features/AUTHENTICATION.md
  SECURITY.md
  app/routes/adapters/express-adapter.ts
  app/routes/templates/error-page.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(ci): use PAT_WORKFLOW token for Docker build dispatch [skip ci]
  .github/workflows/release-please.yml
Due: none

feat(ux): client-side connection error modal with algorithm debugging
  DOCS/api/ROUTES.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/features/AUTHENTICATION.md
  DOCS/logging.md
  SECURITY.md
  app/auth/auth-pipeline.ts
  app/auth/auth-utils.ts
  app/config.ts
  app/config/env-mapper.ts
  app/connection/ssh-connection-validator.ts
  app/connectionHandler.ts
  app/constants/algorithm-env-vars.ts
  app/constants/index.ts
  app/constants/socket-events.ts
  app/logging/event-catalog.ts
  app/middleware/auth.middleware.ts
  app/routes/adapters/express-adapter.ts
  app/routes/handlers/ssh-handler.ts
  app/routes/routes-v2.ts
  app/routes/templates/error-page.ts
  app/services/ssh/algorithm-analyzer.ts
  app/services/ssh/algorithm-capture.ts
  app/services/ssh/connection-handlers.ts
  app/services/ssh/error-normalizer.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/service-socket-authentication.ts
  app/types/contracts/v1/socket.ts
  package-lock.json
  package.json
  tests/unit/services/ssh/algorithm-analyzer.vitest.ts
  tests/unit/services/ssh/algorithm-capture.vitest.ts
  tests/unit/services/ssh/error-normalizer.vitest.ts
Due: eslint --fix, prettier --write

test: update e2e tests for client-side error modal
  tests/playwright/websocket-async-auth-v2.test.js
  tests/playwright/websocket-auth-v2.test.js
Due: eslint --fix

fix(lint): use export type...from syntax for re-exports
  app/auth/auth-utils.ts
Due: eslint --fix

refactor(test): extract shared algorithm test fixtures
  tests/unit/services/ssh/algorithm-analyzer.vitest.ts
  tests/unit/services/ssh/algorithm-capture.vitest.ts
  tests/unit/services/ssh/algorithm-test-fixtures.ts
Due: eslint --fix

fix(lint): remove deprecated eslint-env comments
  tests/playwright/constants.ts
  tests/playwright/e2e-sftp.spec.ts
  tests/playwright/v2-helpers.ts
Due: eslint --fix

refactor(test): use credential builders and shared fixtures
  tests/playwright/websocket-async-auth-v2.test.js
  tests/playwright/websocket-auth-v2.test.js
  tests/unit/services/ssh/algorithm-analyzer.vitest.ts
  tests/unit/services/ssh/algorithm-capture.vitest.ts
  tests/unit/services/ssh/algorithm-test-fixtures.ts
Due: eslint --fix

fix(lint): resolve SonarQube warnings
  app/services/ssh/algorithm-analyzer.ts
  app/services/ssh/error-normalizer.ts
  tests/playwright/websocket-auth-v2.test.js
  tests/unit/services/ssh/algorithm-test-fixtures.ts
Due: eslint --fix

feat(ux): client-side connection error modal with algorithm debugging (#476)
  DOCS/api/ROUTES.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/features/AUTHENTICATION.md
  DOCS/logging.md
  SECURITY.md
  app/auth/auth-pipeline.ts
  app/auth/auth-utils.ts
  app/config.ts
  app/config/env-mapper.ts
  app/connection/ssh-connection-validator.ts
  app/connectionHandler.ts
  app/constants/algorithm-env-vars.ts
  app/constants/index.ts
  app/constants/socket-events.ts
  app/logging/event-catalog.ts
  app/middleware/auth.middleware.ts
  app/routes/adapters/express-adapter.ts
  app/routes/handlers/ssh-handler.ts
  app/routes/routes-v2.ts
  app/routes/templates/error-page.ts
  app/services/ssh/algorithm-analyzer.ts
  app/services/ssh/algorithm-capture.ts
  app/services/ssh/connection-handlers.ts
  app/services/ssh/error-normalizer.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/service-socket-authentication.ts
  app/types/contracts/v1/socket.ts
  package-lock.json
  package.json
  tests/playwright/constants.ts
  tests/playwright/e2e-sftp.spec.ts
  tests/playwright/v2-helpers.ts
  tests/playwright/websocket-async-auth-v2.test.js
  tests/playwright/websocket-auth-v2.test.js
  tests/unit/services/ssh/algorithm-analyzer.vitest.ts
  tests/unit/services/ssh/algorithm-capture.vitest.ts
  tests/unit/services/ssh/algorithm-test-fixtures.ts
  tests/unit/services/ssh/error-normalizer.vitest.ts
Due: eslint --fix, prettier --write

fix(perf): binary WebSocket transport and backpressure fix (#478)
  DOCS/api/WEBSOCKET-API.md
  DOCS/architecture/CLIENT.md
  app/socket/adapters/service-socket-terminal.ts
  app/types/contracts/v1/socket.ts
  package-lock.json
  package.json
  tests/unit/stream-backpressure.vitest.ts
Due: eslint --fix, prettier --write

refactor(test): extract shared helpers to reduce duplication
  tests/unit/stream-backpressure.vitest.ts
Due: eslint --fix

fix(perf): binary WebSocket transport and backpressure fix (#479)
  DOCS/api/WEBSOCKET-API.md
  DOCS/architecture/CLIENT.md
  app/socket/adapters/service-socket-terminal.ts
  app/types/contracts/v1/socket.ts
  package-lock.json
  package.json
  tests/unit/stream-backpressure.vitest.ts
Due: eslint --fix, prettier --write

chore(ci): remove npm publish from release workflow
  .github/workflows/release-please.yml
Due: none

feat(sftp): add shell-command file backend for BusyBox devices (#483)
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/constants/sftp.ts
  app/schemas/config-schema.ts
  app/services/factory.ts
  app/services/interfaces.ts
  app/services/sftp/file-service.ts
  app/services/sftp/sftp-service.ts
  app/services/sftp/shell-commands.ts
  app/services/sftp/shell-file-service.ts
  app/socket/adapters/service-socket-sftp.ts
  app/types/config.ts
  tests/unit/services/sftp/shell-commands.vitest.ts
Due: eslint --fix

fix(sftp): use basename for download filename in shell backend
  app/services/sftp/shell-commands.ts
  tests/unit/services/sftp/shell-commands.vitest.ts
Due: eslint --fix

test(sftp): add security fuzzing tests for shell file backend
  tests/unit/services/sftp/security-fuzzing.vitest.ts
Due: eslint --fix

chore(deps): update webssh2_client to 3.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: SFTP error propagation with fileName + relax waitForPrompt regex
  app/services/sftp/sftp-service.ts
  app/socket/adapters/service-socket-sftp.ts
  app/types/contracts/v1/sftp.ts
  tests/playwright/constants.ts
  tests/unit/services/sftp/shell-commands.vitest.ts
Due: eslint --fix

refactor: extract shared file-service utilities and reduce test duplication
  app/services/sftp/file-service-shared.ts
  app/services/sftp/sftp-service.ts
  app/services/sftp/shell-file-service.ts
  tests/unit/services/sftp/security-fuzzing.vitest.ts
Due: eslint --fix

refactor: deepen shared extraction to reduce SonarQube duplication
  app/services/sftp/file-service-shared.ts
  app/services/sftp/sftp-service.ts
  app/services/sftp/shell-file-service.ts
  tests/unit/services/sftp/security-fuzzing.vitest.ts
Due: eslint --fix

refactor: extract shared transfer helpers and reduce test duplication
  app/services/sftp/file-service-shared.ts
  app/services/sftp/sftp-service.ts
  app/services/sftp/shell-file-service.ts
  tests/unit/services/sftp/security-fuzzing.vitest.ts
Due: eslint --fix

fix: resolve SonarQube lint warnings in shell-commands
  app/services/sftp/shell-commands.ts
Due: eslint --fix

Add HostKeyVerification types to config
  app/types/config.ts
Due: eslint --fix

Add host key verification defaults and env variable mapping
  app/config/default-config.ts
  app/config/env-mapper.ts
Due: eslint --fix

Add resolveHostKeyMode for mode-to-store-flag expansion
  app/config/config-processor.ts
  tests/unit/config/host-key-config.vitest.ts
Due: eslint --fix

Install better-sqlite3 for host key server store
  package-lock.json
  package.json
Due: prettier --write

Implement HostKeyStore SQLite wrapper with tests
  app/services/host-key/host-key-store.ts
  tests/unit/services/host-key/host-key-store.vitest.ts
Due: eslint --fix

Implement HostKeyService with fingerprint computation
  app/services/host-key/host-key-service.ts
  tests/unit/services/host-key/host-key-service.vitest.ts
Due: eslint --fix

Register HostKeyService in service factory and add Zod schema
  app/schemas/config-schema.ts
  app/services/factory.ts
  app/services/interfaces.ts
Due: eslint --fix

feat(host-key): add hostkey socket events to constants
  app/constants/socket-events.ts
Due: eslint --fix

feat(host-key): implement hostVerifier callback factory
  app/services/host-key/host-key-verifier.ts
  tests/unit/services/host-key/host-key-verifier.vitest.ts
Due: eslint --fix

feat(host-key): wire hostVerifier into SSH service connect flow
  app/services/factory.ts
  app/services/host-key/host-key-verifier.ts
  app/services/interfaces.ts
  app/services/ssh/ssh-service.ts
  tests/unit/services/host-key/host-key-verifier.vitest.ts
Due: eslint --fix

feat(host-key): send host key config with permissions event
  app/socket/adapters/service-socket-authentication.ts
  app/types/contracts/v1/socket.ts
  tests/contracts/socket-contracts.vitest.ts
  tests/test-utils.ts
Due: eslint --fix

feat(host-key): add hostKeyVerification to legacy socket-adapter permissions
  app/socket/adapters/socket-adapter.ts
Due: eslint --fix

fix(tests): add hostKeyVerification to socket-v2 mock config
  tests/unit/socket-v2-test-utils.ts
Due: eslint --fix

Add integration tests for host key verification flow
  tests/integration/host-key-verification.vitest.ts
Due: eslint --fix

Add host key seeding script and fix lint in integration tests
  package.json
  scripts/host-key-seed.ts
  tests/integration/host-key-verification.vitest.ts
Due: eslint --fix, prettier --write

docs: add host key verification configuration and usage guide
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
