Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: streamline ssh error categorization
  app/ssh/error-handler.ts
Due: eslint --fix

chore: modularize ipv6 cidr check
  app/ssh/hostname-resolver.ts
Due: eslint --fix

chore: simplify auth reducer branching
  app/state/reducers/auth-reducer.ts
Due: eslint --fix

chore: reduce session reducer complexity
  app/state/reducers/session-reducer.ts
Due: eslint --fix

chore: simplify credential extractor
  app/utils/credential-extractor.ts
Due: eslint --fix

chore: refactor connection reducer
  app/state/reducers/connection-reducer.ts
Due: eslint --fix

chore: simplify metadata reducer
  app/state/reducers/metadata-reducer.ts
Due: eslint --fix

chore: streamline credential validation
  app/validation/credentials.ts
Due: eslint --fix

chore: ci build
  .github/workflows/ci.yml
Due: none

chore: guard ci optional installs
  .github/workflows/ci.yml
Due: none

chore: linting
  app/auth/header-processor.ts
  app/config.ts
  app/constants.ts
  app/errors.ts
  app/errors/webssh2-error.ts
  app/routes/routes-v2.ts
  app/utils/credential-extractor.ts
  app/validation/socket/exec.ts
  app/validation/socket/resize.ts
Due: eslint --fix

chore: ci build
  package-lock.json
  package.json
Due: prettier --write

chore: reorganize terminal reducer
  app/state/reducers/terminal-reducer.ts
Due: eslint --fix

chore: linting
  app/state/reducers/metadata-reducer.ts
  app/utils/credential-extractor.ts
Due: eslint --fix

chore: modularize service socket adapter
  app/app.ts
  app/socket-v2.ts
  app/socket/adapters/service-socket-adapter.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/service-socket-control.ts
  app/socket/adapters/service-socket-shared.ts
  app/socket/adapters/service-socket-terminal.ts
  app/socket/adapters/ssh-config.ts
  tests/contracts/socket-contracts.vitest.ts
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/unit/socket-v2-exec-edge-cases.vitest.ts
  tests/unit/socket-v2-exec.vitest.ts
  tests/unit/socket-v2-terminal-control.vitest.ts
Due: eslint --fix

chore: ci work [skip ci]
  .github/workflows/release-please.yml
Due: none

chore: package.json maint
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

chore: refactor code to address maintainability concerns
  app/app.ts
  app/config.ts
  app/services/ssh/connection-pool.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/service-socket-control.ts
  app/socket/handlers/exec-environment.ts
  app/socket/handlers/exec-handler.ts
  app/socket/handlers/exec-safety.ts
  app/socket/handlers/exec-validator.ts
  app/ssh/hostname-resolver.ts
  app/state/store.ts
  app/utils/error-messages.ts
Due: eslint --fix

feat(logging): add structured stdout logging infrastructure
  DOCS/logging.md
  app/logger.ts
  app/logging/event-catalog.ts
  app/logging/formatter.ts
  app/logging/levels.ts
  app/logging/log-context.ts
  app/logging/stdout-transport.ts
  app/logging/structured-log.ts
  app/logging/structured-logger.ts
  tests/unit/logging/formatter.vitest.ts
  tests/unit/logging/stdout-transport.vitest.ts
  tests/unit/logging/structured-logger.vitest.ts
Due: eslint --fix

feat(logging): instrument socket auth and exec events
  DOCS/logging.md
  app/logging/socket-logger.ts
  app/services/factory.ts
  app/services/interfaces.ts
  app/services/setup.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/service-socket-adapter.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/service-socket-control.ts
  app/socket/adapters/service-socket-shared.ts
  app/socket/adapters/service-socket-terminal.ts
  tests/test-utils.ts
  tests/unit/logging/socket-logger.vitest.ts
Due: eslint --fix

feat(logging): add structured logs to ssh service
  app/services/ssh/ssh-service.ts
  app/socket/adapters/service-socket-terminal.ts
Due: eslint --fix

feat(logging): log credential replay outcomes
  app/logging/event-catalog.ts
  app/socket/adapters/service-socket-control.ts
  tests/unit/socket/service-socket-control.vitest.ts
Due: eslint --fix

feat(logging): capture client metadata on session init
  DOCS/logging.md
  app/logging/event-catalog.ts
  app/logging/formatter.ts
  app/logging/log-context.ts
  app/logging/socket-logger.ts
  app/logging/structured-log.ts
  app/socket/adapters/service-socket-adapter.ts
  app/socket/adapters/service-socket-control.ts
  app/socket/adapters/service-socket-shared.ts
  app/socket/control-handler.ts
  tests/test-constants.ts
  tests/unit/logging/formatter.vitest.ts
  tests/unit/logging/socket-logger.vitest.ts
  tests/unit/socket/control-handler.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
  tests/unit/socket/service-socket-control.vitest.ts
Due: eslint --fix

chore: centralise socket test constants
  tests/test-constants.ts
  tests/unit/logging/formatter.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

Refactor SSH service helpers and logging
  app/services/ssh/connection-handlers.ts
  app/services/ssh/connection-logger.ts
  app/services/ssh/exec-command.ts
  app/services/ssh/ssh-service.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

chore: linting
  app/logger.ts
  app/logging/socket-logger.ts
  app/logging/structured-logger.ts
  app/services/ssh/connection-logger.ts
  app/socket/adapters/service-socket-control.ts
  app/socket/adapters/service-socket-terminal.ts
  app/socket/control-handler.ts
  app/socket/handlers/exec-safety.ts
  app/ssh/error-handler.ts
  eslint.config.mjs
  package-lock.json
  package.json
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/unit/logging/socket-logger.vitest.ts
  tests/unit/routes/route-error-handler.vitest.ts
  tests/unit/socket/control-handler.vitest.ts
  tests/unit/ssh/error-handler.vitest.ts
Due: eslint --fix, prettier --write

chore: lint guard transport structured factory scopes
  app/services/factory.ts
  app/services/setup.ts
  app/services/ssh/connection-logger.ts
  tests/unit/services/container.vitest.ts
  tests/unit/socket/service-socket-control.vitest.ts
  tests/unit/ssh/keyboard-interactive.vitest.ts
Due: eslint --fix

chore: update package-lock.json to remove dev dependencies and upgrade @types/node and typescript versions
  package-lock.json
Due: prettier --write

chore: linting
  app/logger.ts
  eslint.config.mjs
  tests/config-async.vitest.ts
  tests/contracts/routes-stack.vitest.ts
  tests/contracts/socket-contracts.vitest.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

chore: linting
  app/logging/formatter.ts
  app/utils/safe-property-access.ts
  eslint.config.mjs
  tests/test-utils.ts
  tests/unit/services/terminal-service.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

chore: lint
  app/socket/adapters/service-socket-adapter.ts
  app/socket/control-handler.ts
  eslint.config.mjs
Due: eslint --fix

feat(logging): add env overrides for runtime controls
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/logging.md
  app/app.ts
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/config/env-parser.ts
  app/logger.ts
  app/logging/stdout-transport.ts
  app/logging/structured-logger.ts
  app/schemas/config-schema.ts
  app/services/factory.ts
  app/services/logging/controls.ts
  app/services/setup.ts
  app/types/config.ts
  tests/unit/config-enhanced.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/logging/controls.vitest.ts
  tests/unit/logging/stdout-transport.vitest.ts
  tests/unit/logging/structured-logger.vitest.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
