Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(socket): reduce cognitive complexity using SRP and pure functions
  app/socket.ts
  app/socket/connection-handler.ts
  app/socket/control-handler.ts
  app/socket/credential-manager.ts
  app/socket/exec-handler.ts
  app/socket/index.ts
  tests/unit/socket/connection-handler.test.ts
  tests/unit/socket/control-handler.test.ts
  tests/unit/socket/credential-manager.test.ts
Due: eslint --fix

fix(sonar): exclude hard-coded password warnings from test files
  sonar-project.properties
Due: none

fix(sonar): remove void operator usage in routes.ts
  app/routes.ts
Due: eslint --fix

fix(sonar): resolve empty function violations and add ESLint rule
  eslint.config.mjs
  tests/contracts/socket-negative-auth-exec.test.ts
  tests/contracts/socket-negative-exec-more.test.ts
  tests/contracts/socket-negative.test.ts
  tests/integration/socket-env.test.ts
  tests/test-helpers.ts
Due: eslint --fix

fix(sonar): resolve 10 code quality issues
  app/middleware/sso.middleware.ts
  app/routes.ts
  app/socket.ts
  app/ssh.ts
  tests/contracts/socket-negative-auth-exec.test.ts
  tests/contracts/socket-negative-exec-more.test.ts
  tests/playwright/websocket-auth.test.js
Due: eslint --fix

feat(lint): add ESLint rules to prevent SonarQube code quality issues
  eslint.config.mjs
Due: eslint --fix

fix: address SonarQube code quality issues and add comprehensive checks
  app/auth/auth-utils.ts
  app/config.ts
  app/connection/environment-filter.ts
  app/socket.ts
  app/socket/control-handler.ts
  app/ssh.ts
  app/utils.ts
  app/utils/credential-builder.ts
  app/validation/environment.ts
  app/validators/exec-validate.ts
  eslint.config.mjs
  package.json
  tests/config.test.ts
  tests/playwright/debug/debug-event-flow.spec.ts
  tests/playwright/debug/debug-post-auth-flow.spec.ts
  tests/playwright/post-auth.test.js
  tests/playwright/websocket-basic.test.js
  tests/unit/socket/connection-handler.test.ts
Due: eslint --fix, prettier --write

refactor(tests): centralize test credentials to reduce SonarQube violations
  sonar-project.properties
  tests/config-async.test.ts
  tests/config.test.ts
  tests/contracts/routes-stack.test.ts
  tests/contracts/socket-contracts.test.ts
  tests/contracts/socket-negative-auth-exec.test.ts
  tests/contracts/socket-negative-exec-more.test.ts
  tests/contracts/socket-negative.test.ts
  tests/integration/socket-env.test.ts
  tests/post-auth.test.js
  tests/routes-helpers.test.ts
  tests/socket.test.ts
  tests/ssh.test.js
  tests/test-constants.ts
  tests/unit/socket/connection-handler.test.ts
  tests/unit/socket/control-handler.test.ts
  tests/unit/socket/credential-manager.test.ts
  tests/unit/validation-credentials.test.ts
  tests/utils.test.ts
Due: eslint --fix

fix(tests): add NOSONAR comments and complete credential centralization
  tests/test-constants.ts
  tests/unit/socket/credential-manager.test.ts
Due: eslint --fix

refactor(sonar): reduce cognitive complexity and improve code quality
  app/connectionHandler.ts
  app/ssh.ts
  app/utils/credential-builder.ts
  app/validation/environment.ts
Due: eslint --fix

chore: linting
  tests/test-constants.ts
Due: eslint --fix

chore: linting error handling in SSH connection methods
  app/ssh.ts
Due: eslint --fix

refactor: improve code readability by adding braces for single-line statements
  tests/playwright/global-setup.ts
Due: eslint --fix

chore: update webssh2_client to 2.0.0-alpha.11
  package-lock.json
  package.json
Due: prettier --write

chore: simplify e2e test scripts
  package.json
Due: prettier --write

feat(package): add packageManager, types, and exports fields
  package.json
Due: prettier --write

chore: bump package.json version 2.0.0-alpha.11
  package.json
Due: prettier --write

chore: update docs
  DOCS/configuration/URL-PARAMETERS.md
  DOCS/features/CLIENT-FEATURES.md
  DOCS/reference/TROUBLESHOOTING.md
Due: none

feat: migrate from standard-version to release-please
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  ChangeLog.md
  package.json
  release-please-config.json
Due: prettier --write

chore: update webssh2_client to 2.0.0
  .gitignore
  config.json
  package-lock.json
  package.json
Due: prettier --write

chore: package.json version bump
  package.json
Due: prettier --write

Delete .github/workflows/websocket-tests.yml
  .github/workflows/websocket-tests.yml
Due: none

Delete .github/workflows/ts-migration.yml
  .github/workflows/ts-migration.yml
Due: none

Delete .github/workflows/docker-multiplatform-tag.yml
  .github/workflows/docker-multiplatform-tag.yml
Due: none

fix: exclude chore commits from changelog
  release-please-config.json
Due: prettier --write

chore: changelog?
  ChangeLog.md
Due: none

fix: consolidate changelog to CHANGELOG.md
  ChangeLog.md
  release-please-config.json
Due: prettier --write

chore: update changelog [skip ci]
  CHANGELOG.md
Due: none

fix: update misleading config.json missing message
  app/config.ts
Due: eslint --fix

fix: update misleading config.json missing message (#407)
  app/config.ts
Due: eslint --fix

fix: replace custom basic-auth types with official package
  app/middleware/auth.middleware.ts
  package-lock.json
  package.json
  types/basic-auth.d.ts
Due: eslint --fix, prettier --write

refactor(utils): extract pure validation and transformation functions
  app/utils.ts
  app/utils/config-validator.ts
  app/utils/data-masker.ts
  app/utils/html-transformer.ts
  app/utils/object-merger.ts
  tests/unit/utils/config-validator.test.ts
  tests/unit/utils/data-masker.test.ts
  tests/unit/utils/html-transformer.test.ts
  tests/unit/utils/object-merger.test.ts
Due: eslint --fix

refactor(config): extract pure config processing functions
  app/config.ts
  app/config/config-loader.ts
  app/config/config-processor.ts
  tests/unit/config/config-processor.test.ts
Due: eslint --fix

refactor(middleware/auth): extract pure credential processing functions
  app/middleware/auth-processor.ts
  app/middleware/auth.middleware.ts
  tests/unit/middleware/auth-processor.test.ts
Due: eslint --fix

refactor(socket): extract pure helper functions from socket module
  app/socket/socket-helpers.ts
  tests/unit/socket/socket-helpers.test.ts
Due: eslint --fix

fix(socket-helpers): handle nullish cases explicitly in createErrorPayload
  app/socket/socket-helpers.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
