Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: align lint rules for logging imports
  app/config/env-parser.ts
  app/logger.ts
  eslint.config.mjs
Due: eslint --fix

refactor: dedupe imports across barrels
  app/auth/auth-pipeline.ts
  app/auth/auth-utils.ts
  app/config/env-mapper.ts
  app/errors.ts
  app/logging/structured-logger.ts
  app/middleware/index.ts
  app/routes/routes-v2.ts
  app/server.ts
  app/services/auth/auth-service.ts
  app/services/session/session-service.ts
  app/services/setup.ts
  app/services/ssh/exec-command.ts
  app/services/ssh/ssh-service.ts
  app/services/terminal/terminal-service.ts
  app/socket/adapters/service-socket-terminal.ts
  app/socket/adapters/ssh-config.ts
  app/socket/handlers/exec-handler.ts
  app/state/reducers/session-reducer.ts
  app/state/store.ts
  app/validation/socket/helpers.ts
  eslint.config.mjs
  tests/config-async.vitest.ts
  tests/playwright/v2-helpers.ts
  tests/test-utils.ts
  tests/unit/logging/socket-logger.vitest.ts
  tests/unit/services/container.vitest.ts
  tests/unit/socket/control-handler.vitest.ts
  tests/unit/socket/service-socket-control.vitest.ts
  tests/unit/state/session-reducer.vitest.ts
Due: eslint --fix

Restrict logging event target type
  app/types/config.ts
  eslint.config.mjs
Due: eslint --fix

refactor(logging): remove unused reload hooks
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/logging.md
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/schemas/config-schema.ts
  app/types/config.ts
  tests/unit/config-enhanced.vitest.ts
  tests/unit/config/config-processor.vitest.ts
Due: eslint --fix

feat(logging): add syslog transport and config surface
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/logging.md
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/logger.ts
  app/logging/composite-transport.ts
  app/logging/syslog-formatter.ts
  app/logging/syslog-transport.ts
  app/logging/transport-filters.ts
  app/schemas/config-schema.ts
  app/socket/adapters/service-socket-adapter.ts
  app/socket/control-handler.ts
  app/types/config.ts
  tests/unit/config-enhanced.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/logging/syslog-formatter.vitest.ts
  tests/unit/logging/syslog-transport.vitest.ts
Due: eslint --fix

Fix syslog formatter and transport handling
  app/logging/syslog-formatter.ts
  app/logging/syslog-transport.ts
  tests/unit/logging/syslog-transport.vitest.ts
Due: eslint --fix

Refine TLS credential merging
  app/logging/syslog-transport.ts
Due: eslint --fix

chore: lint parity updates
  app/routes/routes-v2.ts
  eslint.config.mjs
Due: eslint --fix

Add syslog logging transport (#424)
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/logging.md
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/logger.ts
  app/logging/composite-transport.ts
  app/logging/syslog-formatter.ts
  app/logging/syslog-transport.ts
  app/logging/transport-filters.ts
  app/routes/routes-v2.ts
  app/schemas/config-schema.ts
  app/socket/adapters/service-socket-adapter.ts
  app/socket/control-handler.ts
  app/types/config.ts
  eslint.config.mjs
  tests/unit/config-enhanced.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/logging/syslog-formatter.vitest.ts
  tests/unit/logging/syslog-transport.vitest.ts
Due: eslint --fix

fix: install rollup binary for musl-based builds
  package-lock.json
  package.json
  scripts/postinstall.js
Due: eslint --fix, prettier --write

fix: package reproducible release artifact
  .github/workflows/release-please.yml
  .gitignore
  DOCS/BUILD.md
  DOCS/CONTAINER.md
  DOCS/README.md
  README.md
  package-lock.json
  package.json
  scripts/create-release-artifact.ts
  scripts/prestart.js
  tsconfig.build.json
Due: eslint --fix, prettier --write

fix: make postinstall optional for prebuilt bundle
  DOCS/BUILD.md
  DOCS/CONTAINER.md
  package.json
  scripts/postinstall.js
Due: eslint --fix, prettier --write

docs: clarify container install flow
  DOCS/CONTAINER.md
Due: none

feat: add ephemeral session store
  DOCS/development/SETUP.md
  app/middleware/ephemeral-session-store.ts
  app/middleware/session.middleware.ts
  package.json
Due: eslint --fix, prettier --write

Refine release tooling and lint coverage
  eslint.config.complexity.mjs
  package.json
  scripts/create-release-artifact.ts
  scripts/lib/hash-directory.ts
  scripts/lib/release-checksum.ts
  scripts/lib/release-fs.ts
  scripts/postinstall.js
  scripts/run-node-tests.mjs
  tsconfig.eslint.json
Due: eslint --fix, prettier --write

fix: address sonar lint warnings
  app/middleware/ephemeral-session-store.ts
  scripts/lib/hash-directory.ts
Due: eslint --fix

Improve release artifacts and add ephemeral session store (#427)
  .github/workflows/release-please.yml
  .gitignore
  DOCS/BUILD.md
  DOCS/CONTAINER.md
  DOCS/README.md
  DOCS/development/SETUP.md
  README.md
  app/middleware/ephemeral-session-store.ts
  app/middleware/session.middleware.ts
  eslint.config.complexity.mjs
  package-lock.json
  package.json
  scripts/create-release-artifact.ts
  scripts/lib/hash-directory.ts
  scripts/lib/release-checksum.ts
  scripts/lib/release-fs.ts
  scripts/postinstall.js
  scripts/prestart.js
  scripts/run-node-tests.mjs
  tsconfig.build.json
  tsconfig.eslint.json
Due: eslint --fix, prettier --write

chore: ci downstream notification [skip ci]
  .github/workflows/notify-downstreams.yml
Due: none

chore: add docker publish pipeline [skip ci]
  .dockerignore
  .github/workflows/docker-publish.yml
  Dockerfile
Due: none

chore(ci): fix env [skip ci]
  .github/workflows/docker-publish.yml
Due: none

chore: publish docker image to ghcr [skip ci]
  .github/workflows/docker-publish.yml
Due: none

chore: align docker tags with release prefix [skip ci]
  .github/workflows/docker-publish.yml
Due: none

chore(docs): update docker references [skip ci]
  README.md
Due: none

chore(examples): example docker-compose with NGINX and WEBSSH2 containers.
  examples/nginx/docker-compose.yml
  examples/nginx/fullchain.pem
  examples/nginx/nginx.conf
  examples/nginx/privkey.pem
Due: none

chore(docs): readme for nginx example
  examples/nginx/README.md
Due: none

fix: respect config ssh port
  app/auth/credential-processor.ts
  package-lock.json
  playwright.config.ts
  tests/playwright/assets/config.template.json
  tests/playwright/basic-auth-config-port.spec.ts
  tests/playwright/scripts/start-server.mjs
  tests/playwright/v2-helpers.ts
  tests/unit/auth/credential-processor.vitest.ts
Due: eslint --fix, prettier --write

fix: respect config ssh port (#432)
  app/auth/credential-processor.ts
  package-lock.json
  playwright.config.ts
  tests/playwright/assets/config.template.json
  tests/playwright/basic-auth-config-port.spec.ts
  tests/playwright/scripts/start-server.mjs
  tests/playwright/v2-helpers.ts
  tests/unit/auth/credential-processor.vitest.ts
Due: eslint --fix, prettier --write

chore(test): dynamically build test config.json
  playwright.config.ts
  tests/playwright/scripts/start-server.mjs
  tests/playwright/scripts/start-server.ts
  tests/playwright/utils/test-config.ts
Due: eslint --fix

chore: tighten release-please changelog filters
  .github/workflows/ci.yml
  release-please-config.json
Due: prettier --write

chore: anchor release scope to latest tag
  release-please-config.json
Due: prettier --write

chore: record last release sha for release-please
  .release-please-manifest.json
Due: prettier --write

Revert "chore: record last release sha for release-please"
  .release-please-manifest.json
Due: prettier --write

chore: pin last release sha for release-please
  release-please-config.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
