Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

chore: cleanup, move example files
  .nvmrc
  .tool-versions
  examples/.env.webssh2.example
  examples/Dockerfile
  examples/config.json.sample
  examples/docker-compose.yml
  test-config.json
Due: prettier --write

chore: initial migration setup [skip ci]
  .github/pull_request_template.md
  .github/workflows/ts-migration.yml
  .husky/pre-push
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  package.json
  scripts/migration-progress.mjs
  scripts/phases-verify.mjs
Due: eslint --fix, prettier --write

docs(checkpoint): mark PR11 as tested checkpoint with passed functional smoke tests
  MIGRATION_PROGRESS.md
Due: none

chore: sync utils.ts formatting and minor example change; keep verify green
  app/utils.ts
  examples/sso-bigip-apm.html
Due: eslint --fix

docs: add Roadmap snapshot to TS-MIGRATTE.md and update progress TODOs\n\n- Capture completed PRs and upcoming steps\n- Update MIGRATION_PROGRESS.md Areas + TODOs for next phases
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  tests/contracts/routes-stack.test.js
  tests/contracts/socket-contracts.test.js
Due: eslint --fix

PR16-alt: add TS mirrors for routes/socket; remove .d.ts shims; update progress.
  .github/workflows/ts-migration.yml
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  app/routes.d.ts
  app/routes.ts
  app/socket.d.ts
  app/socket.ts
  scripts/phases-verify.mjs
Due: eslint --fix

PR17: ratchet TS strictness (noImplicitAny, exactOptionalPropertyTypes) and expand Socket.IO v1 contract types (authenticate, authentication, permissions, updateUI, getTerminal, ssherror).
  MIGRATION_PROGRESS.md
  app/types/contracts/v1/socket.ts
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix, prettier --write

Docs: update TS-MIGRATTE.md for PR17 (contracts expanded, strict checks)\nTests: add Socket.IO negative-path contract tests (terminal/resize/control).
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  tests/contracts/socket-negative.test.js
Due: eslint --fix

Tests: expand negative cases — authenticate with string port; interactive auth disabled; exec env coercion (string ignored, arrays become numeric-key objects).
  MIGRATION_PROGRESS.md
  tests/contracts/socket-negative-auth-exec.test.js
Due: eslint --fix

Tests: add exec negative cases — invalid timeoutMs, huge/negative cols/rows, non-string command.
  MIGRATION_PROGRESS.md
  tests/contracts/socket-negative-exec-more.test.js
Due: eslint --fix

Chore: make migration-progress dynamic — reflect mirrors, contracts, strict flags, and CI gate in MIGRATION_PROGRESS.md.
  MIGRATION_PROGRESS.md
  scripts/migration-progress.mjs
Due: eslint --fix

PR19: ratchet TS strictness (noUncheckedIndexedAccess, noImplicitOverride, useUnknownInCatchVariables); adjust code for new checks; enforce consistent type imports; update progress dashboard.
  MIGRATION_PROGRESS.md
  app/envConfig.ts
  app/utils.ts
  eslint.config.js
  scripts/migration-progress.mjs
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix, prettier --write

Chore: align > webssh2-server@2.0.0-alpha typecheck > tsc -p tsconfig.build.json --noEmit with strict TS-only config (tsconfig.build.json --noEmit).
  package.json
Due: prettier --write

Docs: update playbook for PR18/PR19 and add PR20 plan; Progress: add PR18/PR19 milestones and strict flags to migration dashboard.
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  scripts/migration-progress.mjs
Due: eslint --fix

PR20: flip errors/logger to TS runtime by excluding JS copies; TS emits dist/app/errors.js and dist/app/logger.js.
  scripts/copy-js.mjs
Due: eslint --fix

PR21 scaffolding: add JS JSDoc typecheck config (tsconfig.js-check.json) + typecheck:js script; add minimal shims for basic-auth and webssh2_client.
  package.json
  tsconfig.js-check.json
  types/basic-auth.d.ts
  types/webssh2_client.d.ts
Due: eslint --fix, prettier --write

Chore: commit pending config/progress updates before PR21 Phase A JS hardening.
  MIGRATION_PROGRESS.md
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

PR21: add TS mirrors for app/server/middleware/security-headers/connectionHandler/io via impl shims (no runtime change); fix lint/type errors; keep CI green.
  app/app.impl.d.ts
  app/app.impl.js
  app/app.ts
  app/connectionHandler.impl.d.ts
  app/connectionHandler.impl.js
  app/connectionHandler.ts
  app/io.impl.d.ts
  app/io.impl.js
  app/io.ts
  app/middleware.impl.d.ts
  app/middleware.impl.js
  app/middleware.ts
  app/security-headers.impl.d.ts
  app/security-headers.impl.js
  app/security-headers.ts
  app/server.impl.d.ts
  app/server.impl.js
  app/server.ts
Due: eslint --fix

Fix runtime circular import: copy original routes/socket under impl.target names and point impl shims accordingly; keep TS mirrors as entrypoints.
  app/routes.impl.js
  app/socket.impl.js
  scripts/copy-js.mjs
Due: eslint --fix

Sync: format JS after JSDoc hardening; update MIGRATION_PROGRESS; sync dist/ with new impl targets and mirrors.
  MIGRATION_PROGRESS.md
  app/app.js
  app/middleware.js
  app/security-headers.js
  dist/app/app.d.ts
  dist/app/app.impl.js
  dist/app/app.js
  dist/app/connectionHandler.d.ts
  dist/app/connectionHandler.impl.js
  dist/app/errors.js
  dist/app/io.d.ts
  dist/app/io.impl.js
  dist/app/logger.js
  dist/app/middleware.d.ts
  dist/app/middleware.impl.js
  dist/app/middleware.js
  dist/app/routes.impl.js
  dist/app/routes.impl.target.js
  dist/app/security-headers.d.ts
  dist/app/security-headers.impl.js
  dist/app/security-headers.js
  dist/app/server.d.ts
  dist/app/server.impl.js
  dist/app/server.js
  dist/app/socket.impl.js
  dist/app/socket.impl.target.js
Due: eslint --fix

Docs: refresh MIGRATION_PROGRESS.md; mark PR20 done and add PR21 (TS mirrors for app/server/middleware/security-headers/connectionHandler/io).
  scripts/migration-progress.mjs
  ts-migration-progress.md
Due: eslint --fix

feat(ts): flip connectionHandler/io to TS entrypoints; update migration docs
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  app/connectionHandler.impl.js
  app/io.impl.js
  dist/app/connectionHandler.impl.js
  dist/app/connectionHandler.impl.target.js
  dist/app/connectionHandler.js
  dist/app/io.impl.js
  dist/app/io.impl.target.js
  dist/app/io.js
  scripts/copy-js.mjs
Due: eslint --fix

docs(ts): refresh ts-migration-progress after ssh flip; zero explicit any\n\n- Update counts via scripts/migration-progress.mjs\n- Confirm no explicit 'any' in TS sources
  app/ssh.ts
  ts-migration-progress.md
Due: eslint --fix

feat(ts): flip validators/execSchema to TS entrypoint via shim\n\n- Add TS mirror + impl shim for execSchema\n- Update copy-js for special-case validators target\n- Build + tests green
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  app/ssh.impl.d.ts
  app/ssh.impl.js
  app/ssh.ts
  app/validators/execSchema.impl.d.ts
  app/validators/execSchema.impl.js
  app/validators/execSchema.ts
  dist/app/ssh.d.ts
  dist/app/ssh.impl.js
  dist/app/validators/execSchema.d.ts
  dist/app/validators/execSchema.impl.js
  dist/app/validators/execSchema.impl.target.js
  dist/app/validators/execSchema.js
  scripts/copy-js.mjs
Due: eslint --fix

feat(ts): flip middleware + security-headers to TS entrypoints via shims
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  app/middleware.impl.js
  app/security-headers.impl.js
  dist/app/middleware.impl.js
  dist/app/middleware.impl.target.js
  dist/app/middleware.js
  dist/app/security-headers.impl.js
  dist/app/security-headers.impl.target.js
  dist/app/security-headers.js
  dist/app/validators/execSchema.impl.js
  scripts/copy-js.mjs
  tsconfig.js-check.json
Due: eslint --fix, prettier --write

feat(ts): flip client-path + crypto-utils to TS entrypoints via shims\n\n- Add typed mirrors and impl shims\n- Update copy-js to exclude and emit special targets\n- Build + tests green
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  app/client-path.impl.d.ts
  app/client-path.impl.js
  app/client-path.ts
  app/crypto-utils.impl.d.ts
  app/crypto-utils.impl.js
  app/crypto-utils.ts
  dist/app/client-path.d.ts
  dist/app/client-path.impl.js
  dist/app/client-path.impl.target.js
  dist/app/client-path.js
  dist/app/crypto-utils.d.ts
  dist/app/crypto-utils.impl.js
  dist/app/crypto-utils.impl.target.js
  dist/app/crypto-utils.js
  scripts/copy-js.mjs
Due: eslint --fix

chore(types): strengthen ambient types for webssh2_client; prep for PR28\n\n- Add getPublicPath typing for default export\n- Confirm build/tests OK
  MIGRATION_PROGRESS.md
  dist/app/client-path.impl.js
  dist/app/crypto-utils.impl.js
  types/webssh2_client.d.ts
Due: eslint --fix

feat(ts): flip app entry to TS via impl shim; finalize core flips\n\n- app/app.impl.js now re-exports from app.impl.target.js\n- copy-js excludes app.js and adds special target\n- Build + tests green
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  app/app.impl.js
  dist/app/app.impl.js
  dist/app/app.impl.target.js
  dist/app/app.js
  scripts/copy-js.mjs
Due: eslint --fix

chore(tsconfig): disable skipLibCheck; add DOM lib; fix ambient and basic-auth types; all tests green
  tsconfig.build.json
  tsconfig.json
  types/ambient.d.ts
  types/basic-auth.d.ts
Due: eslint --fix, prettier --write

chore(lint): silence security plugin false-positives in envConfig and config; tests clean
  app/config.ts
  app/envConfig.ts
Due: eslint --fix

feat(socket): restore credential replay and add CRLF option
  DOCS/CONFIG.md
  DOCS/ENV_VARIABLES.md
  MIGRATION_PROGRESS.md
  README.md
  TS-MIGRATTE.md
  app/app.ts
  app/client-path.impl.js
  app/config.ts
  app/configSchema.js
  app/crypto-utils.impl.js
  app/envConfig.ts
  app/server.ts
  app/socket.impl.d.ts
  app/socket.impl.js
  app/socket.js
  app/socket.ts
  app/types/config.ts
  app/types/contracts/v1/socket.ts
  index.js
  index.ts
  package.json
  scripts/copy-js.mjs
  tests/contracts/socket-contracts.test.js
  tests/contracts/socket-negative-auth-exec.test.js
  tests/contracts/socket-negative-exec-more.test.js
  tests/contracts/socket-negative.test.js
  tests/socket.test.js
  ts-migration-progress.md
  tsconfig.build.json
  types/ambient.d.ts
Due: eslint --fix, prettier --write

chore: remove legacy impl shims and simplify build copy ...
  app/app.impl.d.ts
  app/app.impl.js
  app/client-path.impl.d.ts
  app/client-path.impl.js
  app/client-path.ts
  app/crypto-utils.impl.d.ts
  app/crypto-utils.impl.js
  app/crypto-utils.ts
  app/io.impl.d.ts
  app/middleware.impl.d.ts
  app/routes.impl.d.ts
  app/security-headers.impl.d.ts
  app/server.impl.d.ts
  app/server.impl.js
  index.js
  scripts/copy-js.mjs
Due: eslint --fix

chore: remove legacy impl shims and simplify build copy
  app/app.js
  app/client-path.js
  app/config.js
  app/config.ts
  app/constants.js
  app/crypto-utils.js
  app/envConfig.js
  app/errors.js
  app/io.js
  app/server.js
  app/utils.js
  tests/config-async.test.js
  tests/config.test.js
  tests/constants.vitest.ts
  tests/crypto-utils.test.js
  tests/crypto-utils.vitest.ts
  tests/envConfig.test.js
  tests/errors.test.js
  tests/errors.vitest.ts
  tests/logger.test.js
  tests/logger.vitest.ts
  tests/smoke.vitest.ts
  tests/utils.test.js
  tsconfig.build.json
Due: eslint --fix, prettier --write

chore: remove legacy logger.js and migrate configSchema to TypeScript
  app/configSchema.ts
  app/logger.js
  app/ssh.ts
  app/validators/exec-validate.js
  app/validators/exec-validate.ts
  app/validators/execSchema.js
  package.json
  scripts/copy-js.mjs
  types/ambient.d.ts
Due: eslint --fix, prettier --write

chore(eslint): add type-aware TS rules and strict fix script
  app/configSchema.d.ts
  app/io.d.ts
  app/routes.ts
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write

chore(lint): add strict autofix script and apply initial safe fixes
  app/client-path.ts
  app/config.ts
  app/io.ts
Due: eslint --fix

chore(lint): apply safe nullish/condition fixes in socket, io, config, connectionHandler
  app/connectionHandler.ts
  app/socket.ts
Due: eslint --fix

docs: prefer ENV over config for Docker; add Contributors guide and constants overview; clean README config to GET params + links
  CONTRIBUTORS.md
  DOCS/CONFIG.md
  DOCS/CONSTANTS.md
  DOCS/ENV_VARIABLES.md
  DOCS/LOCAL-PR-CHECKLIST.md
  README.md
  TS-MIGRATTE.md
  app/config.ts
  app/connectionHandler.ts
  app/constants.ts
  app/envConfig.ts
  app/io.ts
  app/middleware.ts
  app/routes.ts
  app/security-headers.ts
  app/socket.ts
  app/ssh.ts
  app/types/config.ts
  app/utils.ts
  app/validators/exec-validate.ts
  eslint.config.js
  package.json
  scripts/migration-progress.mjs
  scripts/phases-verify.mjs
  tests/integration/socket-env.test.ts
  tests/unit/exec-validate-env.test.ts
  tests/unit/ssh-env.test.ts
  tests/unit/utils-parse-env-vars.test.ts
Due: eslint --fix, prettier --write

test(e2e): add Playwright AcceptEnv test using containerized sshd; add dedicated e2e Playwright config; npm script test:e2e:ssh
  DOCS/E2E-SSH.md
  DOCS/LOCAL-PR-CHECKLIST.md
  README.md
  eslint.config.js
  package.json
  playwright-e2e-ssh.config.ts
  tests/playwright/e2e-ssh-acceptenv.spec.ts
Due: eslint --fix, prettier --write
