Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

ci: gate docker-publish push trigger by image-relevant paths
  .github/workflows/docker-publish.yml
Due: none

ci: set OCI image.version label to semver tag instead of "latest"
  .github/workflows/docker-publish.yml
Due: none

ci: gate docker-publish push trigger by image-relevant paths (#510)
  .github/workflows/docker-publish.yml
Due: none

ci: set OCI image.version label to semver tag instead of "latest" (#511)
  .github/workflows/docker-publish.yml
Due: none

feat(theming): add ThemingConfig type definitions
  app/types/config.ts
Due: eslint --fix

fix(theming): move new theming types before OptionsConfig and add JSDoc
  app/types/config.ts
Due: eslint --fix

feat(theming): add THEME_COLOR_KEYS allowlist constant
  app/services/theming/theme-color-keys.ts
Due: eslint --fix

style(theming): use JSDoc header for theme-color-keys module
  app/services/theming/theme-color-keys.ts
Due: eslint --fix

feat(theming): add theme name canonicalization with reserved sentinels
  app/services/theming/theme-name.ts
  tests/unit/theming/theme-name.vitest.ts
Due: eslint --fix

feat(theming): add theme-validator with strict hex + prototype-pollution defenses
  app/services/theming/theme-validator.ts
  tests/unit/theming/theme-validator.vitest.ts
Due: eslint --fix

feat(theming): default ThemingConfig (disabled) under options.theming
  app/config/default-config.ts
  app/schemas/config-schema.ts
  app/services/theming/theme-color-keys.ts
  tests/unit/config/config-processor.vitest.ts
Due: eslint --fix

fix(theming): add 7 missing ThemeColors fields to Zod schema
  app/schemas/config-schema.ts
Due: eslint --fix

feat(theming): add parseBase64JsonArrayEnv with size caps and structured errors
  app/config/env-parser.ts
  tests/unit/config/env-parser-base64.vitest.ts
Due: eslint --fix

style(theming): collapse empty positive branch in base64 round-trip check
  app/config/env-parser.ts
Due: eslint --fix

feat(theming): add theme-loader returning valid subset + warnings
  app/services/theming/theme-loader.ts
  tests/unit/theming/theme-loader.vitest.ts
Due: eslint --fix

feat(theming): wire WEBSSH2_THEMING_* env mappings with validator
  app/config/env-mapper.ts
  tests/unit/config/env-mapper-theming.vitest.ts
Due: eslint --fix

test(theming): cover headerBackground accept/reject + drop redundant cast
  app/config/env-mapper.ts
  tests/unit/config/env-mapper-theming.vitest.ts
Due: eslint --fix

feat(theming): theming validation never crashes startup
  app/config.ts
  tests/integration/startup-theming-resilience.vitest.ts
Due: eslint --fix

feat(theming): mask theming counts in MaskedConfig; strip raw colors from logs
  app/config/safe-logging.ts
  tests/unit/config/safe-logging-theming.vitest.ts
Due: eslint --fix

fix(security): escape < / U+2028 / U+2029 in injectConfig
  app/utils/html-transformer.ts
  tests/unit/utils/html-transformer.vitest.ts
Due: eslint --fix

style(security): use \uXXXX escape literals in injectConfig replaceAll search args
  app/utils/html-transformer.ts
Due: eslint --fix

feat(theming): cache serialized theming JSON at startup; splice per-request
  app/app.ts
  app/connectionHandler.ts
  app/services/theming/index.ts
  app/services/theming/theming-injection.ts
  app/utils/html-transformer.ts
  tests/integration/startup-theming-resilience.vitest.ts
  tests/unit/theming/theming-injection.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
Due: eslint --fix

refactor(theming): narrow injection types and exercise cache in perf test
  app/connectionHandler.ts
  app/services/theming/theming-injection.ts
  app/utils/html-transformer.ts
  tests/integration/startup-theming-resilience.vitest.ts
  tests/integration/theming-injection-perf.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
Due: eslint --fix

docs(theming): document opt-in theming surface and operator guide
  DOCS/README.md
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/features/THEMING.md
Due: none

test(theming): playwright smoke + stale-localStorage regression
  playwright.config.ts
  tests/playwright/theming.spec.ts
Due: eslint --fix

test(theming): satisfy lint globals + harden post-reload assertion
  tests/playwright/theming.spec.ts
Due: eslint --fix

fix(theming): drop unshipped 'Solarized Light' from collision allowlist
  app/config/env-mapper.ts
Due: eslint --fix

feat(theming): surface additionalThemes validation warnings to logger
  app/config.ts
  app/config/env-mapper.ts
  app/logger.ts
  app/logging/event-catalog.ts
  tests/unit/config/env-mapper-theming.vitest.ts
Due: eslint --fix

Add sponsors section to README
  README.md
Due: none

fix(theming): swap regex padding-strip for literal '=' replaceAll
  app/config/env-parser.ts
Due: eslint --fix

feat(theming): opt-in server-side theming — config, env, validation, injection (#513)
  DOCS/README.md
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/features/THEMING.md
  app/app.ts
  app/config.ts
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/config/env-parser.ts
  app/config/safe-logging.ts
  app/connectionHandler.ts
  app/logger.ts
  app/logging/event-catalog.ts
  app/schemas/config-schema.ts
  app/services/theming/index.ts
  app/services/theming/theme-color-keys.ts
  app/services/theming/theme-loader.ts
  app/services/theming/theme-name.ts
  app/services/theming/theme-validator.ts
  app/services/theming/theming-injection.ts
  app/types/config.ts
  app/utils/html-transformer.ts
  playwright.config.ts
  tests/integration/startup-theming-resilience.vitest.ts
  tests/integration/theming-injection-perf.vitest.ts
  tests/playwright/theming.spec.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/config/env-mapper-theming.vitest.ts
  tests/unit/config/env-parser-base64.vitest.ts
  tests/unit/config/safe-logging-theming.vitest.ts
  tests/unit/theming/theme-loader.vitest.ts
  tests/unit/theming/theme-name.vitest.ts
  tests/unit/theming/theme-validator.vitest.ts
  tests/unit/theming/theming-injection.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
Due: eslint --fix

chore(deps): apply quarantine-safe npm updates
  package-lock.json
  package.json
Due: prettier --write

chore(deps): apply quarantine-safe npm updates (#515)
  package-lock.json
  package.json
Due: prettier --write

chore(deps): major bumps for typescript 6, eslint-plugin-security 4, eslint-plugin-unicorn 64
  package-lock.json
  package.json
Due: prettier --write

chore(deps): major bumps for typescript 6, eslint-plugin-security 4, eslint-plugin-unicorn 64 (#516)
  package-lock.json
  package.json
Due: prettier --write

docs(security): update supported versions to 4.2.x
  SECURITY.md
Due: none

docs(security): update supported versions to 4.2.x (#517)
  SECURITY.md
Due: none

fix: handle header configuration from per-request, config, and session values
  app/auth/header-processor.ts
  app/config/default-config.ts
  app/connectionHandler.ts
  app/routes/routes-v2.ts
  package-lock.json
  package.json
  tests/unit/connection-handler/header-injection.vitest.ts
  tests/unit/socket/control-handler.vitest.ts
Due: eslint --fix, prettier --write

Replace hard coded 'insecure' host in test
  tests/unit/connection-handler/header-injection.vitest.ts
Due: eslint --fix

Remove unused imports from test
  tests/unit/connection-handler/header-injection.vitest.ts
Due: eslint --fix
