Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Remove unused imports from test
  app/auth/header-processor.ts
  tests/unit/connection-handler/header-injection.vitest.ts
Due: eslint --fix

fix(deps): bump webssh2_client to ^3.7.0 for theming UI support
  package-lock.json
  package.json
Due: prettier --write

fix(deps): bump webssh2_client to ^3.7.0 for theming UI support (#520)
  package-lock.json
  package.json
Due: prettier --write

style: revert formatting-only churn in default-config.ts
  app/config/default-config.ts
Due: eslint --fix

fix(config): default header.background to null, allow null in schema and type
  app/config/default-config.ts
  app/schemas/config-schema.ts
  app/types/config.ts
  app/utils/domain-validator.ts
  app/validation/config.ts
  tests/config-async.vitest.ts
  tests/unit/connection-handler/header-injection.vitest.ts
Due: eslint --fix

refactor(header-processor): revert formatting churn, keep POST-over-GET swap
  app/auth/header-processor.ts
Due: eslint --fix

fix(validation): enforce CSS color regex in validateCssColor
  app/validation/config.ts
  tests/unit/validation/config.vitest.ts
Due: eslint --fix

style: revert formatting churn in routes-v2.ts, keep POST auth source merge
  app/routes/routes-v2.ts
Due: eslint --fix

fix(auth): replace-not-merge semantics for processHeaderParameters
  app/auth/auth-utils.ts
  tests/unit/auth/auth-utils.vitest.ts
Due: eslint --fix

refactor(connectionHandler): decompose buildTempConfig into four pure helpers
  app/connectionHandler.ts
  tests/unit/connection-handler/header-injection.vitest.ts
Due: eslint --fix

test: revert formatting churn in control-handler.vitest.ts
  tests/unit/socket/control-handler.vitest.ts
Due: eslint --fix

test: bring header-injection tests in line with project conventions
  tests/unit/connection-handler/header-injection.vitest.ts
Due: eslint --fix

chore(deps): remove cross-env, restore webssh2_client pin and dev script
  package-lock.json
  package.json
Due: prettier --write

test(header-injection): deduplicate override-test setup blocks
  tests/unit/connection-handler/header-injection.vitest.ts
Due: eslint --fix

feat(header): add hasAnyHeaderKey helper for legacy-key detection
  app/auth/header-processor.ts
  tests/unit/auth/header-processor.vitest.ts
Due: eslint --fix

refactor(header): stop classifying legacy keys as POST/GET source
  app/auth/header-processor.ts
  tests/unit/auth/header-processor.vitest.ts
Due: eslint --fix

refactor(header): drop colorToStyle and HeaderOverride.style
  app/auth/header-processor.ts
  tests/unit/auth/header-processor.vitest.ts
Due: eslint --fix

test(header): drop headerStyle/style from routes-helpers fixture
  tests/routes-helpers.vitest.ts
Due: eslint --fix

test(header): keep style-rejection guard via runtime cast
  tests/unit/connection-handler/header-injection.vitest.ts
Due: eslint --fix

fix(header): suppress override-clear for legacy-only requests
  app/auth/auth-utils.ts
  tests/unit/auth/auth-utils.vitest.ts
Due: eslint --fix

docs(header): remove obsolete SECURITY comment in buildHeaderConfig
  app/connectionHandler.ts
Due: eslint --fix

docs(header): remove headerStyle/header.color from references
  DOCS/api/ROUTES.md
  DOCS/archive/WebSSH2-POST-Auth-Flow-Analysis.md
  DOCS/configuration/URL-PARAMETERS.md
  DOCS/features/CLIENT-FEATURES.md
  DOCS/features/SSO.md
Due: none

test(header): suppress unsafe-argument lint on intentional cast
  tests/unit/connection-handler/header-injection.vitest.ts
Due: eslint --fix

docs(validation): drop stale reference to removed colorToStyle
  app/validation/config.ts
Due: eslint --fix

test(e2e): add Playwright smokes for issue #102 boundary
  tests/playwright/issue-102-header-smoke.spec.ts
Due: eslint --fix

fix(security): remove header.color and colorToStyle (#102 + supersedes #519) (#522)
  DOCS/api/ROUTES.md
  DOCS/archive/WebSSH2-POST-Auth-Flow-Analysis.md
  DOCS/configuration/URL-PARAMETERS.md
  DOCS/features/CLIENT-FEATURES.md
  DOCS/features/SSO.md
  app/auth/auth-utils.ts
  app/auth/header-processor.ts
  app/config/default-config.ts
  app/connectionHandler.ts
  app/routes/routes-v2.ts
  app/schemas/config-schema.ts
  app/types/config.ts
  app/utils/domain-validator.ts
  app/validation/config.ts
  tests/config-async.vitest.ts
  tests/playwright/issue-102-header-smoke.spec.ts
  tests/routes-helpers.vitest.ts
  tests/unit/auth/auth-utils.vitest.ts
  tests/unit/auth/header-processor.vitest.ts
  tests/unit/connection-handler/header-injection.vitest.ts
  tests/unit/socket/control-handler.vitest.ts
  tests/unit/validation/config.vitest.ts
Due: eslint --fix

fix(deps): bump webssh2_client to ^4.0.0 for issue #102 fix
  package-lock.json
  package.json
Due: prettier --write

fix(deps): bump webssh2_client to ^4.0.0 for issue #102 fix (#524)
  package-lock.json
  package.json
Due: prettier --write

ci: skip image scan on dependabot PRs
  .github/workflows/ci.yml
Due: none

ci: skip image scan on dependabot PRs (#525)
  .github/workflows/ci.yml
Due: none

docs: add client compatibility matrix and bump supported version to 5.x
  README.md
  SECURITY.md
Due: none

docs: add client compatibility matrix and bump supported version to 5.x (#526)
  README.md
  SECURITY.md
Due: none

feat(scripts): add isMainModule pure helper for entry-point detection
  scripts/host-key-seed.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

fix(scripts): use isMainModule for host-key-seed entry-point detection
  scripts/host-key-seed.ts
Due: eslint --fix

feat(scripts): add hostkeys:prod npm script for compiled CLI entry
  package.json
Due: prettier --write

test(scripts): add integration test for compiled host-key-seed CLI
  tests/integration/scripts/host-key-seed-cli.vitest.ts
Due: eslint --fix

fix(docker): create and chown /data so hostkeys:prod can seed inside
  Dockerfile
Due: none

docs(examples): add named-volume /data mount to docker-compose example
  examples/docker-compose.yml
Due: none

docs(readme): document docker seeding workflow for hostkeys.db
  README.md
Due: none

chore(examples): add trailing newline to docker-compose.yml
  examples/docker-compose.yml
Due: none
