Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: test lint
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/unit/ssh/keyboard-interactive.vitest.ts
Due: eslint --fix

chore: test linting
  tests/ssh.test.ts
  tests/test-constants.ts
  tests/test-utils.ts
  tests/types/index.ts
Due: eslint --fix

chore: test lint
  tests/contracts/routes-stack.test.ts
  tests/playwright/v2-helpers.ts
  tests/playwright/websocket-async-auth-v2.test.js
  tests/playwright/websocket-auth-v2.test.js
Due: eslint --fix

chore: remove tests from `npm run lint` for ci
  package.json
Due: prettier --write

chore: cleanup
  MIGRATION_PROGRESS.md
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: cleanup npm scripts and fix package name in docs
  DOCS/getting-started/INSTALLATION.md
  package.json
Due: prettier --write

chore: cleanup npm scripts and fix package name in docs (#410)
  DOCS/getting-started/INSTALLATION.md
  package.json
Due: prettier --write

feat: add Apple Container Runtime support for E2E tests
  tests/playwright/README.md
  tests/playwright/container-runtime.ts
  tests/playwright/global-setup.ts
  tests/playwright/global-teardown.ts
  tests/test-constants.ts
Due: eslint --fix

feat: add resource limits for SSH test containers
  tests/playwright/README.md
  tests/playwright/container-runtime.ts
  tests/playwright/global-setup.ts
Due: eslint --fix

chore: fix apple container detection logic
  tests/playwright/container-runtime.ts
Due: eslint --fix

chore: reduce container memory limit to 128MB
  tests/playwright/README.md
  tests/playwright/global-setup.ts
Due: eslint --fix

test: add Apple Container Runtime support for E2E tests (#411)
  tests/playwright/README.md
  tests/playwright/container-runtime.ts
  tests/playwright/global-setup.ts
  tests/playwright/global-teardown.ts
  tests/test-constants.ts
Due: eslint --fix

chore: migrate all tests from node:test to Vitest
  package.json
  scripts/run-node-tests.mts
  test-configs/issue-409-config.json
  tests/config-async.vitest.ts
  tests/contracts/routes-stack.vitest.ts
  tests/contracts/socket-contracts.test.ts
  tests/contracts/socket-contracts.vitest.ts
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/playwright/container-runtime.ts
  tests/post-auth.test.js
  tests/post-auth.test.ts
  tests/routes-helpers.vitest.ts
  tests/ssh.vitest.ts
  tests/test-helpers.ts
  tests/test-utils.ts
  tests/unit/socket-v2-exec.vitest.ts
  tests/unit/validation-credentials.test.ts
  tests/unit/validation-credentials.vitest.ts
  tests/unit/validation-ssh.test.ts
  tests/unit/validation-ssh.vitest.ts
  tests/utils.test.ts
Due: eslint --fix, prettier --write

fix: move private key test data to test-constants and deduplicate imports
  tests/contracts/socket-contracts.vitest.ts
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/test-constants.ts
  tests/unit/validation-ssh.vitest.ts
Due: eslint --fix

fix: resolve linting issues in test files
  tests/contracts/socket-contracts.vitest.ts
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/post-auth.test.ts
  tests/test-helpers.ts
Due: eslint --fix

chore: consolidate test constants and fix container runtime detection
  tests/playwright/README.md
  tests/playwright/container-runtime.ts
  tests/test-constants.ts
Due: eslint --fix

chore: migrate all tests from node:test to Vitest (#412)
  package.json
  scripts/run-node-tests.mts
  test-configs/issue-409-config.json
  tests/config-async.vitest.ts
  tests/contracts/routes-stack.vitest.ts
  tests/contracts/socket-contracts.test.ts
  tests/contracts/socket-contracts.vitest.ts
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/playwright/README.md
  tests/playwright/container-runtime.ts
  tests/post-auth.test.js
  tests/post-auth.test.ts
  tests/routes-helpers.vitest.ts
  tests/ssh.vitest.ts
  tests/test-constants.ts
  tests/test-helpers.ts
  tests/test-utils.ts
  tests/unit/socket-v2-exec.vitest.ts
  tests/unit/validation-credentials.test.ts
  tests/unit/validation-credentials.vitest.ts
  tests/unit/validation-ssh.test.ts
  tests/unit/validation-ssh.vitest.ts
  tests/utils.test.ts
Due: eslint --fix, prettier --write

chore: docs lint
  DOCS/getting-started/INSTALLATION.md
Due: none

chore: test migration cleanup
  tests/integration/socket-env.test.ts
  tests/post-auth.test.ts
  tests/servers/keyboard-interactive/Dockerfile
  tests/servers/keyboard-interactive/Dockerfile.debug
  tests/servers/keyboard-interactive/Dockerfile.password
  tests/servers/keyboard-interactive/README.md
  tests/servers/keyboard-interactive/TESTING_GUIDE.md
  tests/servers/keyboard-interactive/color-test.sh
  tests/servers/keyboard-interactive/orthrus2.sh
  tests/servers/keyboard-interactive/orthrus2.txt
  tests/servers/keyboard-interactive/start-dev.sh
  tests/servers/keyboard-interactive/stop-dev.sh
  tests/servers/keyboard-interactive/test-connection.sh
  tests/test-helpers.ts
  tests/test-utils.ts
  tests/unit/auth/credential-processor.vitest.ts
  tests/unit/auth/header-processor.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/exec-validate-env.test.ts
  tests/unit/middleware/auth-processor.test.ts
  tests/unit/routes/route-error-handler.vitest.ts
  tests/unit/routes/route-validators.test.ts
  tests/unit/routes/session-handler.test.ts
  tests/unit/ssh-env.test.ts
  tests/unit/ssh/config-builder.vitest.ts
  tests/unit/ssh/error-handler.vitest.ts
  tests/unit/types/result.vitest.ts
  tests/unit/utils-parse-env-vars.vitest.ts
  tests/unit/utils/config-validator.test.ts
  tests/unit/utils/data-masker.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
  tests/unit/utils/object-merger.vitest.ts
Due: eslint --fix

chore: test infrastructure improvements and cleanup
  CONTRIBUTORS.md
  DOCS/development/CONTRIBUTING.md
  DOCS/development/LOCAL-PR-CHECKLIST.md
  app/config/default-config.ts
  app/constants.ts
  app/routes/route-error-handler.ts
  app/ssh/error-handler.ts
  app/validation/environment.ts
  package.json
  tests/config-async.vitest.ts
  tests/errors.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/types/result.vitest.ts
Due: eslint --fix, prettier --write

test: enable SSH service unit tests
  tests/unit/services/ssh-service.vitest.ts
Due: eslint --fix

test: remove skipped timeout test from ssh-service unit tests
  tests/ssh.vitest.ts
  tests/unit/services/ssh-service.vitest.ts
Due: eslint --fix

chore: minor doc reorg
  DOCS/images/Screenshot.png
  DOCS/images/Screenshot_sm.png
  DOCS/images/orthrus.png
  DOCS/images/orthrus.webp
  DOCS/images/orthrus2.png
  DOCS/images/orthrus2.txt
  DOCS/images/orthrus2.webp
  DOCS/images/orthrus2a.jpg
  README.md
  tests/ssh.vitest.ts
Due: eslint --fix

chore: remove legacy SSHConnection in favor of SSHServiceImpl
  app/app.ts
  app/connection/ssh-connection-validator.ts
  app/socket-v2.ts
  app/ssh.ts
  app/ssh/connection-adapter.ts
  app/types/ssh.ts
  tests/contracts/socket-contracts.vitest.ts
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/test-utils.ts
  tests/unit/socket-v2-exec-edge-cases.vitest.ts
  tests/unit/socket-v2-exec.vitest.ts
  tests/unit/socket-v2-terminal-control.vitest.ts
  tests/unit/socket-v2-test-utils.ts
Due: eslint --fix

chore: remove legacy SSHConnection references from documentation
  DOCS/architecture/FLOWS.md
  DOCS/archive/API-IDEAS.md
  DOCS/configuration/CONSTANTS.md
Due: none

chore: playwright test improvements
  playwright.config.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/playwright/websocket-async-auth-v2.test.js
Due: eslint --fix

chore: optimize Playwright test performance
  playwright.config.ts
  tests/playwright/websocket-async-auth-v2.test.js
Due: eslint --fix

chore: lint fixes and code quality improvements
  README.md
  app/config/default-config.ts
  app/connection/ssh-connection-validator.ts
  eslint.config.mjs
  tests/unit/services/ssh-service.vitest.ts
Due: eslint --fix

chore: consolidate crypto utilities into utils/ directory
  app/config.ts
  app/utils.ts
  app/utils/crypto.ts
  tests/utils-crypto.vitest.ts
Due: eslint --fix

chore: consolidate duplicate mock client creation in SSH service tests
  tests/unit/services/ssh-service.vitest.ts
Due: eslint --fix

chore: add explicit return type to createMockClient
  tests/unit/services/ssh-service.vitest.ts
Due: eslint --fix

fix: change test imports from dist/ to source files for CI compatibility
  tests/config-async.vitest.ts
  tests/constants.vitest.ts
  tests/errors.vitest.ts
  tests/logger.vitest.ts
  tests/routes-helpers.vitest.ts
  tests/smoke.vitest.ts
  tests/utils-crypto.vitest.ts
Due: eslint --fix

fix: update remaining test imports from dist/ to source files
  tests/contracts/routes-stack.vitest.ts
  tests/contracts/socket-contracts.vitest.ts
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/unit/socket-v2-exec-edge-cases.vitest.ts
  tests/unit/socket-v2-terminal-control.vitest.ts
Due: eslint --fix

chore: remove dead code and rename transformers to safe-logging
  app/config.ts
  app/config/safe-logging.ts
  app/config/transformers.ts
  tests/unit/config/safe-logging.vitest.ts
  tests/unit/config/transformers.vitest.ts
Due: eslint --fix

refactor: consolidate utility exports into centralized barrel files
  app/auth/auth-pipeline.ts
  app/auth/auth-utils.ts
  app/auth/credential-processor.ts
  app/auth/providers/basic-auth.provider.ts
  app/auth/providers/post-auth.provider.ts
  app/auth/session-processor.ts
  app/config.ts
  app/config/config-loader.ts
  app/config/config-processor.ts
  app/config/env-mapper.ts
  app/connectionHandler.ts
  app/middleware/auth-processor.ts
  app/middleware/auth.middleware.ts
  app/services/interfaces.ts
  app/services/ssh/ssh-service.ts
  app/ssh/config-builder.ts
  app/utils.ts
  app/utils/config-builder.ts
  app/utils/config-validator.ts
  app/utils/index.ts
  app/validation/index.ts
  app/validation/ssh.ts
  tests/smoke.vitest.ts
  tests/unit/config-enhanced.vitest.ts
  tests/unit/ssh/config-builder.vitest.ts
  tests/unit/types/result.vitest.ts
  tests/unit/utils-parse-env-vars.vitest.ts
  tests/unit/utils/data-masker.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
  tests/unit/validation-ssh.vitest.ts
Due: eslint --fix

fix: resolve duplicate imports and negated condition
  app/auth/auth-pipeline.ts
  app/config.ts
Due: eslint --fix

chore: consolidate utility exports and remove redundant wrappers (#414)
  app/auth/auth-pipeline.ts
  app/auth/auth-utils.ts
  app/auth/credential-processor.ts
  app/auth/providers/basic-auth.provider.ts
  app/auth/providers/post-auth.provider.ts
  app/auth/session-processor.ts
  app/config.ts
  app/config/config-loader.ts
  app/config/config-processor.ts
  app/config/env-mapper.ts
  app/config/safe-logging.ts
  app/config/transformers.ts
  app/connectionHandler.ts
  app/middleware/auth-processor.ts
  app/middleware/auth.middleware.ts
  app/services/interfaces.ts
  app/services/ssh/ssh-service.ts
  app/ssh/config-builder.ts
  app/utils.ts
  app/utils/config-builder.ts
  app/utils/config-validator.ts
  app/utils/index.ts
  app/validation/index.ts
  app/validation/ssh.ts
  tests/smoke.vitest.ts
  tests/unit/config-enhanced.vitest.ts
  tests/unit/config/safe-logging.vitest.ts
  tests/unit/config/transformers.vitest.ts
  tests/unit/ssh/config-builder.vitest.ts
  tests/unit/types/result.vitest.ts
  tests/unit/utils-parse-env-vars.vitest.ts
  tests/unit/utils/data-masker.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
  tests/unit/validation-ssh.vitest.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
