Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

docs: add host key verification socket protocol reference
  DOCS/host-key-protocol.md
Due: none

fix: address code review findings for host key verification
  DOCS/host-key-protocol.md
  app/config/config-processor.ts
  app/services/host-key/host-key-service.ts
  app/services/host-key/host-key-store.ts
  app/services/host-key/host-key-verifier.ts
  app/services/interfaces.ts
  app/services/ssh/ssh-service.ts
  tests/unit/config/host-key-config.vitest.ts
  tests/unit/services/host-key/host-key-verifier.vitest.ts
Due: eslint --fix

docs: add host key verification to configuration reference
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/CONSTANTS.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
Due: none

feat: send host key verification config pre-auth and honor env vars in hostkeys script
  .gitignore
  app/routes/handlers/ssh-config-handler.ts
  app/socket/adapters/service-socket-adapter.ts
  app/types/contracts/v1/http.ts
  app/types/contracts/v1/socket.ts
  scripts/host-key-seed.ts
Due: eslint --fix

test: add host key verification test coverage and fix SonarQube issues
  scripts/host-key-seed.ts
  tests/contracts/routes-stack.vitest.ts
  tests/contracts/socket-contracts.vitest.ts
  tests/unit/routes/ssh-config-handler.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

fix: resolve SonarQube quality gate failures on PR #488
  tests/integration/host-key-verification.vitest.ts
  tests/test-utils.ts
  tests/unit/services/host-key/host-key-service.vitest.ts
  tests/unit/services/host-key/host-key-store.vitest.ts
  tests/unit/services/host-key/host-key-test-fixtures.ts
  tests/unit/services/host-key/host-key-verifier.vitest.ts
  tests/unit/socket-v2-test-utils.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

fix: resolve lint errors in test files
  tests/contracts/socket-contracts.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

fix: update rollup to 4.59.0 for GHSA-mw96-cpmx-2vgc path traversal fix
  SECURITY.md
  package-lock.json
Due: prettier --write

fix: resolve markdownlint warnings in host-key-protocol.md
  DOCS/host-key-protocol.md
Due: none

feat: update webssh2_client dependency to version 3.4.0
  package-lock.json
  package.json
Due: prettier --write

fix: resolve SonarQube issues across codebase (S3735, S3776, S2871, S4623, S6557, S4043, S7763, S4325, S6594, S7781, S7755, S7784, S7924)
  .gitignore
  app/auth/auth-pipeline.ts
  app/config.ts
  app/connection/ssh-validator.ts
  eslint.config.mjs
  examples/sso-bigip-apm.html
  scripts/run-node-tests.mjs
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/playwright/v2-helpers.ts
  tests/test-utils.ts
  tests/types/index.ts
  tests/unit/config-enhanced.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/connection/ssh-validator.vitest.ts
  tests/unit/routes/route-error-handler.vitest.ts
  tests/unit/socket/control-handler.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
  tests/unit/types/result.vitest.ts
  tests/unit/utils-parse-env-vars.vitest.ts
  tests/unit/utils/object-merger.vitest.ts
Due: eslint --fix

fix: remove void operator from test files (S3735)
  tests/unit/config/host-key-config.vitest.ts
  tests/unit/services/host-key/host-key-service.vitest.ts
  tests/unit/services/host-key/host-key-store.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

fix: reduce awaitClientVerification params to options object (S107) and use structuredClone (S7784)
  app/services/host-key/host-key-verifier.ts
  tests/unit/config/host-key-config.vitest.ts
Due: eslint --fix

fix: use eslint-disable for no-new in side-effect constructors
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

chore: update emitSocketLog type usage and adjust mock parameters
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

chore: update webssh2_client to ^3.4.1
  package-lock.json
  package.json
Due: prettier --write

fix: use correct secret name for workflow dispatch PAT
  .github/workflows/release-please.yml
Due: none

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

feat(telnet): add types, constants, and ProtocolService interface
  app/constants/core.ts
  app/services/interfaces.ts
  app/types/config.ts
  tests/unit/services/telnet/telnet-types.vitest.ts
Due: eslint --fix

feat(telnet): add default config and environment variable mapping
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/schemas/config-schema.ts
  tests/unit/config/telnet-config.vitest.ts
Due: eslint --fix

feat(telnet): add IAC negotiation layer for telnet protocol
  app/services/telnet/telnet-negotiation.ts
  tests/unit/services/telnet/telnet-negotiation.vitest.ts
Due: eslint --fix

feat(telnet): add expect-style authenticator for telnet login prompts
  app/services/telnet/telnet-auth.ts
  tests/unit/services/telnet/telnet-auth.vitest.ts
Due: eslint --fix

feat(telnet): add TelnetConnectionPool for managing telnet connections
  app/services/telnet/telnet-connection-pool.ts
  tests/unit/services/telnet/telnet-connection-pool.vitest.ts
Due: eslint --fix

feat(telnet): add TelnetServiceImpl assembling negotiation, auth, and pool
  app/services/telnet/telnet-connection-pool.ts
  app/services/telnet/telnet-service.ts
  tests/unit/services/telnet/telnet-service.vitest.ts
Due: eslint --fix

feat(telnet): add Express routes for /telnet/ mirroring SSH route pattern
  app/app.ts
  app/connectionHandler.ts
  app/routes/telnet-routes.ts
  app/utils/html-transformer.ts
  tests/unit/routes/telnet-routes.vitest.ts
Due: eslint --fix

feat(telnet): wire Socket.IO telnet namespace and protocol-aware adapters
  app/app.ts
  app/io.ts
  app/services/container.ts
  app/services/factory.ts
  app/services/setup.ts
  app/socket-v2.ts
  app/socket/adapters/service-socket-adapter.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/service-socket-control.ts
  app/socket/adapters/service-socket-shared.ts
  app/socket/adapters/service-socket-terminal.ts
  tests/unit/logging/socket-logger.vitest.ts
  tests/unit/socket/service-socket-authentication.vitest.ts
  tests/unit/socket/service-socket-control.vitest.ts
Due: eslint --fix

fix: resolve lint errors in telnet test and config files
  app/config/default-config.ts
  tests/unit/services/telnet/telnet-connection-pool.vitest.ts
  tests/unit/services/telnet/telnet-types.vitest.ts
Due: eslint --fix

docs: add telnet configuration to CONFIG-JSON.md and ENVIRONMENT-VARIABLES.md
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
Due: none

fix(telnet): address code review findings - security and robustness
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  app/config/env-mapper.ts
  app/services/telnet/telnet-auth.ts
  app/services/telnet/telnet-connection-pool.ts
  app/services/telnet/telnet-service.ts
  app/socket/adapters/service-socket-authentication.ts
  tests/unit/services/telnet/telnet-auth.vitest.ts
Due: eslint --fix

feat(telnet): add option state tracking and buildProactiveOffers()
  app/services/telnet/telnet-negotiation.ts
  tests/unit/services/telnet/telnet-negotiation.vitest.ts
Due: eslint --fix

feat(telnet): make handleDo() state-aware to prevent duplicate WILL
  app/services/telnet/telnet-negotiation.ts
  tests/unit/services/telnet/telnet-negotiation.vitest.ts
Due: eslint --fix

feat(telnet): add IAC debug logging (webssh2:telnet:iac)
  app/services/telnet/telnet-negotiation.ts
Due: eslint --fix

fix(telnet): replace unsolicited NAWS with proactive option offers
  app/services/telnet/telnet-negotiation.ts
  app/services/telnet/telnet-service.ts
Due: eslint --fix

fix: resolve SonarQube issues across server codebase
  app/errors.ts
  app/middleware/index.ts
  app/socket/handlers/exec-handler.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
  tests/unit/validation-ssh.vitest.ts
Due: eslint --fix

chore: update webssh2_client to 3.5.0-telnet.1, add rollup darwin-arm64
  package-lock.json
  package.json
Due: prettier --write

fix: remove platform-specific @rollup/rollup-darwin-arm64 from dependencies
  package-lock.json
  package.json
Due: prettier --write

docs: add telnet routes and feature documentation [skip ci]
  .github/workflows/docker-publish.yml
  DOCS/api/ROUTES.md
  README.md
Due: none

chore: update deps and security review dates
  SECURITY.md
  package-lock.json
Due: prettier --write

feat: update webssh2_client to 3.5.0
  package-lock.json
  package.json
Due: prettier --write
