Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: terminal adapter imports backpressure from shared module
  app/socket/adapters/service-socket-terminal.ts
Due: eslint --fix

fix: resolve stale waitForDrain promise on concurrent calls, add missing tests
  app/socket/backpressure.ts
  tests/unit/backpressure.vitest.ts
Due: eslint --fix

feat: emit raw Buffer for SFTP download chunks instead of base64
  app/services/sftp/sftp-service.ts
  app/services/sftp/shell-file-service.ts
  app/types/contracts/v1/sftp.ts
Due: eslint --fix

refactor: extract shared backpressure utilities from terminal adapter
  app/socket/backpressure.ts
  tests/unit/backpressure.vitest.ts
Due: eslint --fix

fix: lint error in SFTP backpressure test (strict boolean expression)
  tests/unit/sftp-download-backpressure.vitest.ts
Due: eslint --fix

fix: add re-entrancy guard and cancellation cleanup to SFTP backpressure
  app/services/sftp/sftp-service.ts
  app/socket/adapters/service-socket-sftp.ts
Due: eslint --fix

feat: add backpressure control to SFTP download streaming
  app/services/sftp/sftp-service.ts
  app/socket/adapters/service-socket-sftp.ts
  tests/unit/sftp-download-backpressure.vitest.ts
Due: eslint --fix

chore: bump webssh2_client to ^3.6.0 for binary SFTP chunks
  package-lock.json
  package.json
Due: prettier --write

docs: add TeamPCP/CanisterWorm supply chain assessment to SECURITY.md
  SECURITY.md
Due: none

docs: correct npm token references in CanisterWorm assessment
  SECURITY.md
Due: none

fix: sync package-lock.json with webssh2_client 3.6.0
  package-lock.json
Due: prettier --write

docs: add axios supply chain attack assessment to SECURITY.md
  SECURITY.md
Due: none

fix: patch HIGH CVE dependencies and pin versions
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

fix: resolve lint errors blocking CI
  app/services/sftp/shell-file-service.ts
  tests/unit/backpressure.vitest.ts
Due: eslint --fix

fix: add vite override to resolve HIGH audit finding in CI
  package-lock.json
  package.json
Due: prettier --write

fix: update trivy-action to v0.35.0 and add vite override
  .github/workflows/ci.yml
Due: none

fix: pin node:22-alpine base image by digest
  Dockerfile
Due: none

ci: suppress Sonar docker:S8431 for Dockerfile (Renovate digest pattern)
  Dockerfile
  sonar-project.properties
Due: none

fix: pin node:22-alpine base image by digest (#498) (#499)
  Dockerfile
  sonar-project.properties
Due: none

ci: add docker-image-scan job gated by paths filter
  .github/workflows/ci.yml
Due: none

ci: ignore CVE-2026-33671 in Trivy image scan with documented assessment
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .trivyignore
  SECURITY.md
Due: none

ci: restructure docker-publish to build -> scan -> smoke -> push
  .github/workflows/docker-publish.yml
Due: none

ci: add image scanning gate to PR and publish flows (#500)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .trivyignore
  SECURITY.md
Due: none

ci: restore CRITICAL,HIGH gate in docker-publish Trivy step
  .github/workflows/docker-publish.yml
Due: none

ci: restore CRITICAL,HIGH gate in docker-publish Trivy step (#505)
  .github/workflows/docker-publish.yml
Due: none

ci: add Renovate config scoped to node:22-alpine digest updates
  .github/renovate.json
  examples/Dockerfile
Due: prettier --write

ci: add Renovate config scoped to node:22-alpine digest updates (#501)
  .github/renovate.json
  examples/Dockerfile
Due: prettier --write

ci: scaffold rebuild-release-tags guard job
  .github/workflows/rebuild-release-tags.yml
Due: none

ci: implement rebuild-release-tags rebuild job
  .github/workflows/rebuild-release-tags.yml
Due: none

ci: harden rebuild-release-tags guard and doc the dispatch escape hatch
  .github/workflows/rebuild-release-tags.yml
Due: none

ci: apply Trivy gate fixes to rebuild-release-tags workflow
  .github/workflows/rebuild-release-tags.yml
Due: none

ci: add event-driven rebuild-release-tags workflow (#502)
  .github/workflows/rebuild-release-tags.yml
Due: none

ci(fix): add security-events: write to docker-publish job
  .github/workflows/docker-publish.yml
Due: none

ci(fix): add security-events: write to docker-publish job (#506)
  .github/workflows/docker-publish.yml
Due: none

ci: tighten rebuild-release-tags workflow permissions to least privilege
  .github/workflows/rebuild-release-tags.yml
Due: none

ci: tighten rebuild-release-tags workflow permissions to least privilege (#507)
  .github/workflows/rebuild-release-tags.yml
Due: none

ci: switch release-please to GitHub App token; drop PAT-based dispatch
  .github/workflows/docker-publish.yml
  .github/workflows/release-please.yml
Due: none

ci: switch release-please to GitHub App token; drop PAT-based dispatch (#508)
  .github/workflows/docker-publish.yml
  .github/workflows/release-please.yml
Due: none

ci: switch app-token to client-id input
  .github/workflows/release-please.yml
Due: none

ci: switch app-token to client-id input (#509)
  .github/workflows/release-please.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
