Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: ci updates
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e-ssh.yml
  .github/workflows/notify-downstreams.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  SECURITY.md
  package-lock.json
  package.json
Due: prettier --write

chore: remove --ignore-scripts option from npm ci in CI workflow
  .github/workflows/ci.yml
Due: none

chore: linting
  .github/instructions/codacy.instructions.md
  examples/Dockerfile
  examples/sso-bigip-apm.html
  package.json
  scripts/postinstall.js
  tests/playwright/e2e-sftp.spec.ts
  tests/playwright/tsconfig.json
Due: eslint --fix, prettier --write

core: fix e2e tests after accessibility changes
  tests/playwright/e2e-sftp.spec.ts
Due: eslint --fix

chore: linting
  app/services/interfaces.ts
  app/services/sftp/sftp-service.ts
  app/services/sftp/sftp-session.ts
  app/socket/adapters/service-socket-sftp.ts
  app/types/contracts/v1/sftp.ts
  examples/sso-bigip-apm.html
  tests/unit/services/sftp/path-validator.vitest.ts
Due: eslint --fix

chore: linting
  app/services/sftp/path-validator.ts
  app/services/sftp/sftp-session.ts
  tests/unit/services/sftp/path-validator.vitest.ts
Due: eslint --fix

chore: align deps per security policy
  package-lock.json
  package.json
Due: prettier --write

chore: update docs [skip ci]
  DOCS/features/SFTP.md
Due: none

chore: update README.md [skip ci]
  README.md
Due: none

Update supported versions for WebSSH2 [skip ci]
  SECURITY.md
Due: none

chore: update docker-publish [skip ci]
  .github/workflows/docker-publish.yml
Due: none

chore(lint): update README.md [skip ci]
  DOCS/features/SFTP.md
Due: none

chore: remove scanner poc [skip ci]
  .github/instructions/codacy.instructions.md
Due: none

chore(docs): update private key auth doc
  DOCS/features/PRIVATE-KEYS.md
Due: none

fix: SSH algorithm env var precedence and debug output improvements
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  app/config.ts
  app/config/env-mapper.ts
  app/config/safe-logging.ts
  tests/unit/config/env-mapper.vitest.ts
  tests/unit/config/safe-logging.vitest.ts
Due: eslint --fix

fix: SSH algorithm env var precedence and debug output improvements (#460)
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  app/config.ts
  app/config/env-mapper.ts
  app/config/safe-logging.ts
  tests/unit/config/env-mapper.vitest.ts
  tests/unit/config/safe-logging.vitest.ts
Due: eslint --fix

fix: cascade docker-publish workflow from release-please
  .github/workflows/docker-publish.yml
  .github/workflows/release-please.yml
Due: none

docs: add DNS resolution troubleshooting for Docker
  DOCS/getting-started/DOCKER.md
  DOCS/reference/TROUBLESHOOTING.md
  app/connection/ssh-validator.ts
  app/socket/adapters/socket-adapter.ts
  tests/unit/connection/ssh-validator.vitest.ts
Due: eslint --fix

docs: add DNS resolution troubleshooting for Docker (#463)
  DOCS/getting-started/DOCKER.md
  DOCS/reference/TROUBLESHOOTING.md
  app/connection/ssh-validator.ts
  app/socket/adapters/socket-adapter.ts
  tests/unit/connection/ssh-validator.vitest.ts
Due: eslint --fix

docs: add network_mode requirement for Docker Compose DNS [skip ci]
  DOCS/getting-started/DOCKER.md
Due: none

feat: add server-side generic prompt interface fixes #464
  app/constants/index.ts
  app/constants/prompt.ts
  app/constants/socket-events.ts
  app/logging/event-catalog.ts
  app/logging/log-context.ts
  app/socket/adapters/service-socket-adapter.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/service-socket-prompt.ts
  app/socket/handlers/prompt-handler.ts
  app/socket/handlers/prompt-tracker.ts
  app/socket/handlers/prompt-validator.ts
  app/types/branded.ts
  app/types/contracts/v1/socket.ts
  tests/test-constants.ts
  tests/unit/socket/handlers/prompt-handler.vitest.ts
  tests/unit/socket/handlers/prompt-tracker.vitest.ts
  tests/unit/socket/handlers/prompt-validator.vitest.ts
Due: eslint --fix

fix: keyboard-interactive auth multi-round and prompt forwarding
  DOCS/api/WEBSOCKET-API.md
  DOCS/features/KEYBOARD-INTERACTIVE.md
  app/constants/prompt.ts
  app/logging/formatter.ts
  app/services/interfaces.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/ssh-config.ts
  app/socket/handlers/prompt-tracker.ts
  app/socket/handlers/prompt-validator.ts
  app/types/contracts/v1/socket.ts
  package-lock.json
  tests/unit/socket/handlers/prompt-handler.vitest.ts
  tests/unit/socket/handlers/prompt-tracker.vitest.ts
  tests/unit/socket/handlers/prompt-validator.vitest.ts
Due: eslint --fix, prettier --write

chore: update devDependencies to latest versions
  package-lock.json
  package.json
Due: prettier --write

feat: update webssh2_client to 2.4.1
  package-lock.json
  package.json
Due: prettier --write

fix: add NOSONAR comments for clarity in prompt input types and validation tests
  app/constants/prompt.ts
  tests/unit/socket/handlers/prompt-validator.vitest.ts
Due: eslint --fix

chore: add NOSONAR comment for clarity in password constant
  tests/test-constants.ts
Due: eslint --fix

feat: add server-side generic prompt interface (#465)
  DOCS/api/WEBSOCKET-API.md
  DOCS/features/KEYBOARD-INTERACTIVE.md
  app/constants/index.ts
  app/constants/prompt.ts
  app/constants/socket-events.ts
  app/logging/event-catalog.ts
  app/logging/formatter.ts
  app/logging/log-context.ts
  app/services/interfaces.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/service-socket-adapter.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/service-socket-prompt.ts
  app/socket/adapters/ssh-config.ts
  app/socket/handlers/prompt-handler.ts
  app/socket/handlers/prompt-tracker.ts
  app/socket/handlers/prompt-validator.ts
  app/types/branded.ts
  app/types/contracts/v1/socket.ts
  package-lock.json
  package.json
  tests/test-constants.ts
  tests/unit/socket/handlers/prompt-handler.vitest.ts
  tests/unit/socket/handlers/prompt-tracker.vitest.ts
  tests/unit/socket/handlers/prompt-validator.vitest.ts
Due: eslint --fix, prettier --write

fix(sftp): server-side transfer ID generation and ownership verification
  DOCS/features/SFTP.md
  app/services/sftp/sftp-service.ts
  app/services/sftp/transfer-manager.ts
  app/socket/adapters/service-socket-sftp.ts
  app/types/branded.ts
  app/types/contracts/v1/sftp.ts
  app/validation/socket/sftp.ts
  tests/unit/services/sftp/transfer-manager.vitest.ts
  tests/unit/validation/sftp-validation.vitest.ts
Due: eslint --fix

docs: add supported algorithms documentation for SSH
  DOCS/README.md
  DOCS/reference/ALGORITHMS.md
Due: none

feat: update webssh2_client dependency to version 3.0.0
  package-lock.json
  package.json
Due: prettier --write

fix(sftp): server-side transfer ID generation and ownership verification (#467)
  DOCS/README.md
  DOCS/features/SFTP.md
  DOCS/reference/ALGORITHMS.md
  app/services/sftp/sftp-service.ts
  app/services/sftp/transfer-manager.ts
  app/socket/adapters/service-socket-sftp.ts
  app/types/branded.ts
  app/types/contracts/v1/sftp.ts
  app/validation/socket/sftp.ts
  package-lock.json
  package.json
  tests/unit/services/sftp/transfer-manager.vitest.ts
  tests/unit/validation/sftp-validation.vitest.ts
Due: eslint --fix, prettier --write

feat(debug): add ssh2 protocol-level debug logging
  DOCS/reference/TROUBLESHOOTING.md
  app/services/ssh/ssh-service.ts
Due: eslint --fix

feat(debug): add ssh2 protocol-level debug logging (#469)
  DOCS/reference/TROUBLESHOOTING.md
  app/services/ssh/ssh-service.ts
Due: eslint --fix

chore: add Docker build workflow trigger to release process [skip-ci]
  .github/workflows/release-please.yml
Due: none

fix(ssh): ensure environment variable algorithms are always honored
  app/config.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/ssh-config.ts
  index.ts
  tests/test-utils.ts
  tests/unit/socket-v2-exec-edge-cases.vitest.ts
  tests/unit/socket-v2-test-utils.ts
Due: eslint --fix

refactor(index): use top-level await and export...from syntax
  index.ts
Due: eslint --fix

fix(ssh): ensure environment variable algorithms are always honored (#473)
  app/config.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/ssh-config.ts
  index.ts
  tests/test-utils.ts
  tests/unit/socket-v2-exec-edge-cases.vitest.ts
  tests/unit/socket-v2-test-utils.ts
Due: eslint --fix

chore(security): update SECURITY.md and bump webssh2_client to 3.1.0
  SECURITY.md
  package-lock.json
  package.json
Due: prettier --write

feat(routes): add HTML error pages for browser clients
  DOCS/api/ROUTES.md
  DOCS/features/AUTHENTICATION.md
  app/routes/adapters/express-adapter.ts
  app/routes/templates/error-page.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
