Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test(socket): cover transport resolution and URL-parameter precedence
  tests/unit/connection-handler/transport-selection.vitest.ts
Due: eslint --fix

docs(config): document options.transport, WEBSSH2_OPTIONS_TRANSPORT, ?transport=
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/configuration/URL-PARAMETERS.md
Due: none

build(deps): bump webssh2_client to ^5.1.0 for JSON config block (#546)
  package-lock.json
  package.json
Due: prettier --write

test(assets): resolve client asset filenames dynamically for 5.1.0 content hashing (#546)
  app/utils/static-cache.ts
  tests/integration/static-cache-headers.vitest.ts
Due: eslint --fix

feat(html): inject runtime config into the inert JSON block (#546 phase 1)
  app/services/theming/theming-injection.ts
  app/utils/html-transformer.ts
  app/utils/index.ts
  tests/unit/utils/html-transformer.vitest.ts
Due: eslint --fix

docs: document JSON config block, deprecate window.webssh2Config (#546)
  DOCS/architecture/CLIENT.md
  DOCS/configuration/OVERVIEW.md
Due: none

feat(config): add csp config section with report-only defaults (#546)
  app/config/default-config.ts
  app/types/config.ts
  tests/contracts/routes-stack.vitest.ts
  tests/unit/config/default-config.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix

feat(config): map WEBSSH2_CSP_* env vars (#546)
  app/config/env-mapper.ts
  tests/unit/config/env-mapper.vitest.ts
Due: eslint --fix

feat(config): validate csp section in Zod schema, normalize reportUri (#546)
  app/schemas/config-schema.ts
  tests/unit/config/config-schema.vitest.ts
Due: eslint --fix

feat(security): derive connect-src, drop wildcard CORS origins (#546 S1)
  app/security/connect-src.ts
  tests/unit/security/connect-src.vitest.ts
Due: eslint --fix

feat(security): tightened, mode-aware memoized CSP builder (#546 phase 2)
  app/constants/core.ts
  app/security-headers.ts
  tests/unit/security-headers.vitest.ts
Due: eslint --fix

feat(security): warn on non-enforced CSP and wildcard connect-src (#546 S3/S1)
  app/security-posture.ts
  tests/unit/security-posture.vitest.ts
Due: eslint --fix

feat(logging): register csp_violation event and security subsystem (#546 S4)
  app/logging/event-catalog.ts
  app/logging/formatter.ts
  app/logging/log-context.ts
  tests/unit/logging/event-catalog.vitest.ts
Due: eslint --fix

feat(security): sanitized CSP report extraction (#546 S6)
  app/security/csp-report.ts
  tests/unit/security/csp-report.vitest.ts
Due: eslint --fix

feat(security): dependency-free per-key token-bucket limiter (#546 DoW1)
  app/security/rate-limiter.ts
  tests/unit/security/rate-limiter.vitest.ts
Due: eslint --fix

feat(security): hardened /ssh/csp-report endpoint (#546 S6/A1/DoW1/A3/P2)
  app/logger.ts
  app/routes/handlers/csp-report-handler.ts
  app/routes/routes-v2.ts
  tests/contracts/routes-stack.vitest.ts
  tests/integration/csp-report.vitest.ts
Due: eslint --fix

feat(logging): default rate-limit for csp_violation log volume (#546 DoW1/DoW2)
  app/config/default-config.ts
  tests/unit/config/config-schema.vitest.ts
  tests/unit/config/default-config.vitest.ts
  tests/unit/logging/controls.vitest.ts
Due: eslint --fix

test(security): CSP header coverage across routes and modes (#546 S5/A2)
  tests/integration/csp-headers.vitest.ts
Due: eslint --fix

test(e2e): run E2E under enforced CSP; assert terminal boots from JSON config block (#546)
  playwright.config.ts
  tests/playwright/csp-enforce.spec.ts
Due: eslint --fix

docs(security): document CSP config, rollout, and csp_violation event (#546)
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/logging.md
  SECURITY.md
Due: none

docs(security): correct csp-report rate-limit figures (intake vs log) (#546)
  SECURITY.md
Due: none

feat(security): reportUri empty-fallback + distinct csp off/report-only warnings (#546)
  app/schemas/config-schema.ts
  app/security-posture.ts
  tests/unit/config/config-schema.vitest.ts
  tests/unit/security-posture.vitest.ts
Due: eslint --fix

fix(deps): patch HIGH advisories (esbuild GHSA-gv7w/g7r4, ws, engine.io, form-data) (#546 CI)
  package-lock.json
  package.json
Due: prettier --write

fix(docker): bump node:22-alpine digest to patch openssl CVE-2026-45447 (#546 CI)
  Dockerfile
Due: none

docs(security): document esbuild GHSA-gv7w-rqvm-qjhr as patched (#546)
  SECURITY.md
Due: none

refactor: resolve SonarLint code-quality findings (#546)
  app/constants/core.ts
  app/routes/routes-v2.ts
  app/security/connect-src.ts
  app/utils/html-transformer.ts
  tests/integration/csp-report.vitest.ts
  tests/integration/static-cache-headers.vitest.ts
  tests/unit/config/env-mapper.vitest.ts
Due: eslint --fix

chore: add markdownlint config and declare code-fence languages
  .markdownlint-cli2.jsonc
  DOCS/CONTAINER.md
  DOCS/archive/WebSSH2-BasicAuth-Flow-Analysis.md
  DOCS/client/KEYBOARD_CAPTURE.md
  DOCS/client/KEYBOARD_CAPTURE_SUMMARY.md
  DOCS/client/README.md
  DOCS/configuration/OVERVIEW.md
  DOCS/configuration/URL-PARAMETERS.md
  DOCS/development/SETUP.md
  DOCS/features/ENVIRONMENT-FORWARDING.md
  DOCS/features/EXEC-CHANNEL.md
  DOCS/features/SSO.md
  DOCS/getting-started/QUICK-START.md
  DOCS/reference/ALGORITHMS.md
Due: none

chore: add markdownlint config and declare code-fence languages (#552)
  .markdownlint-cli2.jsonc
  DOCS/CONTAINER.md
  DOCS/archive/WebSSH2-BasicAuth-Flow-Analysis.md
  DOCS/client/KEYBOARD_CAPTURE.md
  DOCS/client/KEYBOARD_CAPTURE_SUMMARY.md
  DOCS/client/README.md
  DOCS/configuration/OVERVIEW.md
  DOCS/configuration/URL-PARAMETERS.md
  DOCS/development/SETUP.md
  DOCS/features/ENVIRONMENT-FORWARDING.md
  DOCS/features/EXEC-CHANNEL.md
  DOCS/features/SSO.md
  DOCS/getting-started/QUICK-START.md
  DOCS/reference/ALGORITHMS.md
Due: none

feat(security): verify webssh2_client bundle integrity + provenance (#547)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  SECURITY.md
  package-lock.json
  package.json
  scripts/lib/client-bundle-integrity.ts
  scripts/verify-client-bundle.ts
  tests/unit/scripts/client-bundle-integrity.vitest.ts
Due: eslint --fix, prettier --write

refactor(security): address SonarQube findings on bundle verification (#547)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  tests/unit/scripts/client-bundle-integrity.vitest.ts
Due: eslint --fix

feat(security): verify webssh2_client bundle integrity + provenance (#547) (#553)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  SECURITY.md
  package-lock.json
  package.json
  scripts/lib/client-bundle-integrity.ts
  scripts/verify-client-bundle.ts
  tests/unit/scripts/client-bundle-integrity.vitest.ts
Due: eslint --fix, prettier --write

chore(deps): bump postcss and brace-expansion for audit findings
  package-lock.json
Due: prettier --write

fix(docker): upgrade bundled npm to 11.18.0 to clear npm-CLI CVEs
  .trivyignore
  Dockerfile
  SECURITY.md
Due: none

fix(docker): merge runtime RUN layers, install npm with --ignore-scripts
  Dockerfile
Due: none

fix(ci): correct S8431 suppression pattern for Dockerfile
  sonar-project.properties
Due: none

fix(docker): upgrade bundled npm to 11.18.0 to clear npm-CLI CVEs (#555)
  .trivyignore
  Dockerfile
  SECURITY.md
  sonar-project.properties
Due: none

fix(lint): enable modern-JS unicorn rules and resolve SonarCloud findings
  app/logging/syslog-formatter.ts
  app/routes/telnet-routes.ts
  app/services/telnet/telnet-service.ts
  app/services/theming/theme-validator.ts
  eslint.config.mjs
  scripts/host-key-seed.ts
  tests/integration/scripts/host-key-seed-cli.vitest.ts
  tests/playwright/issue-102-header-smoke.spec.ts
  tests/unit/config/telnet-config.vitest.ts
  tests/unit/connection-handler/header-injection.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
  tests/unit/services/telnet/telnet-types.vitest.ts
  tests/unit/theming/theming-injection.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
Due: eslint --fix

fix(deps): upgrade eslint toolchain to clear brace-expansion HIGH advisory
  SECURITY.md
  app/app.ts
  app/auth/auth-pipeline.ts
  app/auth/providers/basic-auth.provider.ts
  app/auth/providers/post-auth.provider.ts
  app/config.ts
  app/connection/environment-filter.ts
  app/connection/ssh-config.ts
  app/logging/socket-logger.ts
  app/logging/syslog-transport.ts
  app/routes/adapters/express-adapter.ts
  app/routes/telnet-routes.ts
  app/services/container.ts
  app/services/session/session-service.ts
  app/services/theming/theme-validator.ts
  app/socket/adapters/service-socket-terminal.ts
  app/validation/socket/auth.ts
  app/validation/socket/control.ts
  app/validation/socket/exec.ts
  app/validation/socket/helpers.ts
  app/validation/socket/resize.ts
  app/validation/socket/sftp.ts
  app/validation/socket/terminal.ts
  eslint.config.mjs
  eslint.config.sonar.mjs
  package-lock.json
  package.json
  tests/playwright/issue-102-header-smoke.spec.ts
  tests/test-constants.ts
  tests/unit/backpressure.vitest.ts
  tests/unit/connection-handler/header-injection.vitest.ts
  tests/unit/routes/ssh-config-handler.vitest.ts
  tests/unit/sftp-download-backpressure.vitest.ts
  tests/unit/socket-v2-test-utils.ts
  tests/unit/socket/handlers/auth-handler.vitest.ts
  tests/unit/socket/handlers/terminal-handler.vitest.ts
  tests/unit/ssh/keyboard-interactive.vitest.ts
Due: eslint --fix, prettier --write

fix(deps): upgrade eslint toolchain to clear brace-expansion HIGH advisory (#559)
  SECURITY.md
  app/app.ts
  app/auth/auth-pipeline.ts
  app/auth/providers/basic-auth.provider.ts
  app/auth/providers/post-auth.provider.ts
  app/config.ts
  app/connection/environment-filter.ts
  app/connection/ssh-config.ts
  app/logging/socket-logger.ts
  app/logging/syslog-transport.ts
  app/routes/adapters/express-adapter.ts
  app/routes/telnet-routes.ts
  app/services/container.ts
  app/services/session/session-service.ts
  app/services/theming/theme-validator.ts
  app/socket/adapters/service-socket-terminal.ts
  app/validation/socket/auth.ts
  app/validation/socket/control.ts
  app/validation/socket/exec.ts
  app/validation/socket/helpers.ts
  app/validation/socket/resize.ts
  app/validation/socket/sftp.ts
  app/validation/socket/terminal.ts
  eslint.config.mjs
  eslint.config.sonar.mjs
  package-lock.json
  package.json
  tests/playwright/issue-102-header-smoke.spec.ts
  tests/test-constants.ts
  tests/unit/backpressure.vitest.ts
  tests/unit/connection-handler/header-injection.vitest.ts
  tests/unit/routes/ssh-config-handler.vitest.ts
  tests/unit/sftp-download-backpressure.vitest.ts
  tests/unit/socket-v2-test-utils.ts
  tests/unit/socket/handlers/auth-handler.vitest.ts
  tests/unit/socket/handlers/terminal-handler.vitest.ts
  tests/unit/ssh/keyboard-interactive.vitest.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
