Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test(scripts): swap /tmp path in isMainModule canonical-branch test
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

test(scripts): use process.execPath instead of bare 'node' for spawn
  tests/integration/scripts/host-key-seed-cli.vitest.ts
Due: eslint --fix

fix(scripts): host-key-seed entry-point guard for compiled CLI (#527) (#529)
  Dockerfile
  README.md
  examples/docker-compose.yml
  package.json
  scripts/host-key-seed.ts
  tests/integration/scripts/host-key-seed-cli.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix, prettier --write

feat(scripts): add sanitizeForDisplay helper and apply to host echo paths
  scripts/host-key-seed.ts
  tests/integration/scripts/host-key-seed-cli.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

feat(scripts): add validateDbPath + allowlist for --db
  scripts/host-key-seed.ts
  tests/integration/scripts/host-key-seed-cli.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

feat(scripts): cap --hosts entries with --max-hosts override
  scripts/host-key-seed.ts
  tests/integration/scripts/host-key-seed-cli.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

feat(scripts)!: make --known-hosts dry-run, require --commit to write
  scripts/host-key-seed.ts
  tests/integration/scripts/host-key-seed-cli.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

docs(scripts): document --commit and --max-hosts in README
  README.md
Due: none

refactor(tests): de-duplicate host-key-seed test boilerplate
  tests/integration/scripts/host-key-seed-cli.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

fix: harden host-key-seed CLI (closes #528) (#531)
  README.md
  scripts/host-key-seed.ts
  tests/integration/scripts/host-key-seed-cli.vitest.ts
  tests/unit/scripts/host-key-seed.vitest.ts
Due: eslint --fix

chore(deps): add eslint-plugin-sonarjs for local Sonar feedback
  app/config/safe-logging.ts
  app/constants/core.ts
  app/constants/security.ts
  app/middleware/csrf.middleware.ts
  app/services/theming/theme-loader.ts
  app/socket-v2.ts
  app/socket/handlers/exec-safety.ts
  eslint.config.mjs
  eslint.config.sonar.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(deps): override qs to 6.15.2 for CVE-2026-8723
  package-lock.json
  package.json
Due: prettier --write

fix(deps): override qs to 6.15.2 for CVE-2026-8723 (#532)
  package-lock.json
  package.json
Due: prettier --write

ci: harden rebuild-release-tags workflow and document S7631 assessment
  .github/workflows/rebuild-release-tags.yml
  sonar-project.properties
Due: none

ci: harden rebuild-release-tags workflow and document S7631 assessment (#533)
  .github/workflows/rebuild-release-tags.yml
  sonar-project.properties
Due: none

ci: scope image-publish concurrency lanes to prevent release-run cancellation
  .github/workflows/docker-publish.yml
  .github/workflows/rebuild-release-tags.yml
Due: none

ci: make docker-publish release-notes update idempotent
  .github/workflows/docker-publish.yml
Due: none

ci: migrate workflow actions to Node 24 runtimes
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e-ssh.yml
  .github/workflows/rebuild-release-tags.yml
  .github/workflows/release-please.yml
Due: none

ci: fix release-publish concurrency race + migrate workflows to Node 24 (#534)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e-ssh.yml
  .github/workflows/rebuild-release-tags.yml
  .github/workflows/release-please.yml
Due: none

ci: pin QEMU binfmt to known-good v8.1.5 (fix arm64 emulation core dump)
  .github/workflows/docker-publish.yml
  .github/workflows/rebuild-release-tags.yml
Due: none

ci(docker-publish): build arm64 natively, drop QEMU emulation
  .github/workflows/docker-publish.yml
Due: none

ci(rebuild-release-tags): native arm64 matrix, drop QEMU
  .github/workflows/rebuild-release-tags.yml
Due: none

ci(docker-publish): compute image refs in consuming jobs (fix empty GHCR name)
  .github/workflows/docker-publish.yml
Due: none

fix(deps): bump brace-expansion to patched versions
  package-lock.json
Due: prettier --write

feat(security): warn loudly at startup on permissive security defaults
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/OVERVIEW.md
  SECURITY.md
  app/app.ts
  app/logger.ts
  app/logging/event-catalog.ts
  app/security-posture.ts
  tests/unit/logging/security-posture-logger.vitest.ts
  tests/unit/security-posture.vitest.ts
Due: eslint --fix

fix(security): treat blank allowedSubnets entries as empty in posture audit
  SECURITY.md
  app/security-posture.ts
  tests/unit/security-posture.vitest.ts
Due: eslint --fix

feat(security): warn loudly at startup on permissive security defaults (#542)
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/OVERVIEW.md
  SECURITY.md
  app/app.ts
  app/logger.ts
  app/logging/event-catalog.ts
  app/security-posture.ts
  tests/unit/logging/security-posture-logger.vitest.ts
  tests/unit/security-posture.vitest.ts
Due: eslint --fix

fix(deps): bump brace-expansion to patched versions (#540)
  package-lock.json
Due: prettier --write

fix(ssh): add shared settled guard to connect timeout/ready/error race
  app/services/ssh/connection-handlers.ts
  app/services/ssh/ssh-service.ts
  app/services/telnet/telnet-service.ts
  tests/unit/services/ssh-service.vitest.ts
  tests/unit/services/ssh/connection-handlers.vitest.ts
Due: eslint --fix

feat(http): cache headers for static assets, no-store for dynamic HTML
  app/app.ts
  app/connectionHandler.ts
  app/utils/static-cache.ts
  package-lock.json
  package.json
  tests/integration/static-cache-headers.vitest.ts
  tests/unit/utils/static-cache.vitest.ts
Due: eslint --fix, prettier --write

fix(config): treat empty session-secret env values as unset
  app/config.ts
  app/utils/crypto.ts
  app/utils/index.ts
  tests/config-async.vitest.ts
  tests/config-session-secret.vitest.ts
  tests/utils-crypto.vitest.ts
Due: eslint --fix

fix(config): honor WEBSSH2_SESSION_SECRET in fallback, warn on generated secret
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  app/config.ts
  app/logger.ts
  app/logging/event-catalog.ts
  tests/config-session-secret.vitest.ts
Due: eslint --fix

fix(config): honor WEBSSH2_SESSION_SECRET in fallback, warn on generated secret (#541)
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  app/config.ts
  app/logger.ts
  app/logging/event-catalog.ts
  app/utils/crypto.ts
  app/utils/index.ts
  tests/config-async.vitest.ts
  tests/config-session-secret.vitest.ts
  tests/utils-crypto.vitest.ts
Due: eslint --fix

fix(ssh): add shared settled guard to connect timeout/ready/error race (#544)
  app/services/ssh/connection-handlers.ts
  app/services/ssh/ssh-service.ts
  app/services/telnet/telnet-service.ts
  tests/unit/services/ssh-service.vitest.ts
  tests/unit/services/ssh/connection-handlers.vitest.ts
Due: eslint --fix

feat(http): cache headers for static assets, no-store for dynamic HTML (#545)
  app/app.ts
  app/connectionHandler.ts
  app/utils/static-cache.ts
  package-lock.json
  package.json
  tests/integration/static-cache-headers.vitest.ts
  tests/unit/utils/static-cache.vitest.ts
Due: eslint --fix, prettier --write

feat(socket): force transport via WEBSSH2_OPTIONS_TRANSPORT env var
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/configuration/URL-PARAMETERS.md
  app/config/env-mapper.ts
  app/connectionHandler.ts
  app/schemas/config-schema.ts
  app/types/config.ts
Due: eslint --fix

fix(socket): make client honor forced transport and fall back to polling
  app/app.ts
Due: eslint --fix

Revert "feat(socket): force transport via WEBSSH2_OPTIONS_TRANSPORT env var"
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/configuration/URL-PARAMETERS.md
  app/config/env-mapper.ts
  app/connectionHandler.ts
  app/schemas/config-schema.ts
  app/types/config.ts
Due: eslint --fix

feat(socket): wire options.transport / WEBSSH2_OPTIONS_TRANSPORT / ?transport=
  app/config/env-mapper.ts
  app/connectionHandler.ts
  app/schemas/config-schema.ts
  app/types/config.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
