Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(dev): add @playwright/test and e2e:setup script; prefer local playwright binary (no npx required)
  package.json
Due: prettier --write

test(e2e): capture and attach page screenshot in AcceptEnv Playwright test
  package-lock.json
  package.json
  tests/playwright/e2e-ssh-acceptenv.spec.ts
Due: eslint --fix, prettier --write

test(e2e): move container lifecycle to global setup/teardown; reuse container across Playwright tests
  playwright-e2e-ssh.config.ts
  tests/playwright/e2e-ssh-acceptenv.spec.ts
  tests/playwright/global-setup.ts
  tests/playwright/global-teardown.ts
Due: eslint --fix

test(e2e): consolidate to single Playwright config; remove redundant configs; update npm script to use unified config
  package.json
  playwright-no-server.config.js
  playwright.config.ts
Due: eslint --fix, prettier --write

ci: add GitHub Actions workflows for lint/build/test and manual E2E SSH with Docker
  .github/workflows/ci.yml
  .github/workflows/e2e-ssh.yml
Due: none

test(playwright): remove legacy JS config; keep unified TS config only
  playwright.config.js
Due: eslint --fix

test(e2e): add TERM propagation, stty size check against DEFAULTS, and replayCredentials control test (with socket heuristic + fallback)
  eslint.config.js
  playwright.config.js
  tests/playwright/e2e-ssh-acceptenv.spec.ts
  tests/playwright/e2e-term-size-replay.spec.ts
  tsconfig.eslint.json
Due: eslint --fix, prettier --write

test(e2e): add test:e2e script to run all Playwright specs with container; remove stray JS Playwright config
  package.json
  playwright.config.js
Due: eslint --fix, prettier --write

test(playwright): parameterize ports/host/creds via shared test-config; use E2E_WEB_PORT/E2E_SSH_PORT; update unified config to respect web port
  package.json
  playwright.config.ts
  tests/playwright/README.md
  tests/playwright/e2e-ssh-acceptenv.spec.ts
  tests/playwright/e2e-term-size-replay.spec.ts
  tests/playwright/run-tests.sh
  tests/playwright/test-config.js
  tests/playwright/websocket-async-auth.test.js
  tests/playwright/websocket-auth.test.js
  tests/playwright/websocket-basic.test.js
  tests/playwright/websocket-performance.test.js
Due: eslint --fix, prettier --write

test(playwright): use shared BASE_URL/SSH_PORT across tests; fix Basic Auth URLs to derive from BASE_URL; standardize to 2244 ssh port
  tests/playwright/websocket-auth.test.js
Due: eslint --fix

refactor: implement server-only terminal management architecture
  DOCS/FLOWS.md
  DOCS/SERVER_API.md
  app/routes.ts
  app/socket.ts
  app/ssh.ts
  examples/sso-bigip-apm.html
  tests/contracts/socket-negative.test.js
  tests/integration/socket-env.test.ts
  tests/playwright/debug-test.js
Due: eslint --fix

test(playwright): fix async auth test locators and timing issues
  tests/playwright/websocket-async-auth.test.js
Due: eslint --fix

docs: add comprehensive WebSSH2 authentication flow analysis
  WebSSH2-BasicAuth-Flow-Analysis.md
  WebSSH2-Event-Flow-Analysis.md
  WebSSH2-POST-Auth-Flow-Analysis.md
  tests/playwright/debug-basicauth-flow.spec.ts
  tests/playwright/debug-event-flow.spec.ts
  tests/playwright/debug-post-auth-flow.spec.ts
Due: eslint --fix

feat: add flexible POST /ssh authentication with mixed parameter support
  DOCS/AUTHENTICATION.md
  README.md
  app/auth/auth-pipeline.ts
  app/auth/auth-utils.ts
  app/connectionHandler.ts
  app/routes.ts
  app/socket.ts
  app/ssh.ts
  examples/sso-bigip-apm.html
  tests/playwright/post-auth.test.js
  tests/playwright/websocket-async-auth.test.js
  tests/playwright/websocket-auth.test.js
  tests/playwright/websocket-basic.test.js
  tests/playwright/websocket-performance.test.js
Due: eslint --fix

chore: working on e2e tests. checkpoint
  DOCS/E2E-SSH.md
  app/constants.ts
  playwright.config.ts
  tests/playwright/constants.js
  tests/playwright/debug-basicauth-flow.spec.ts
  tests/playwright/debug-event-flow.spec.ts
  tests/playwright/debug-post-auth-flow.spec.ts
  tests/playwright/debug-test.js
  tests/playwright/e2e-ssh-acceptenv.spec.ts
  tests/playwright/e2e-term-size-replay.spec.ts
  tests/playwright/global-setup.ts
  tests/playwright/global-teardown.ts
  tests/playwright/post-auth.test.js
  tests/playwright/test-config.js
  tests/playwright/websocket-async-auth.test.js
  tests/playwright/websocket-auth.test.js
  tests/playwright/websocket-basic.test.js
  tests/playwright/websocket-performance.test.js
Due: eslint --fix

chore: temp disable pre-push
  .husky/pre-push
  tests/playwright/e2e-term-size-replay.spec.ts
Due: eslint --fix

chore: litning
  app/routes.ts
  app/socket.ts
Due: eslint --fix

chore: e2e playwright test const consolidation
  tests/playwright/constants.js
  tests/playwright/debug-basicauth-flow.spec.ts
Due: eslint --fix

chore: cleaning up tests for POST route switch
  tests/contracts/routes-stack.test.js
  tests/routes-helpers.test.js
Due: eslint --fix

chore: e2e tests checkpoint
  playwright.config.ts
  tests/playwright/README.md
  tests/playwright/constants.js
  tests/playwright/debug-basicauth-flow.spec.ts
  tests/playwright/debug/debug-event-flow.spec.ts
  tests/playwright/debug/debug-post-auth-flow.spec.ts
  tests/playwright/debug/debug-test.spec.js
  tests/playwright/post-auth.test.js
  tests/playwright/run-tests.sh
  tests/playwright/websocket-async-auth.test.js
  tests/playwright/websocket-basic.test.js
  tests/playwright/websocket-performance.test.js
Due: eslint --fix

chore(docs): organize docs
  BUG.md
  DOCS/README.md
  DOCS/api/ROUTES.md
  DOCS/api/WEBSOCKET-API.md
  DOCS/architecture/CLIENT.md
  DOCS/architecture/EVENT-FLOW.md
  DOCS/architecture/FLOWS.md
  DOCS/archive/API-IDEAS.md
  DOCS/archive/WebSSH2-BasicAuth-Flow-Analysis.md
  DOCS/archive/WebSSH2-Event-Flow-Analysis.md
  DOCS/archive/WebSSH2-POST-Auth-Flow-Analysis.md
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/CONSTANTS.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/configuration/OVERVIEW.md
  DOCS/configuration/URL-PARAMETERS.md
  DOCS/development/BUILD.md
  DOCS/development/CONTRIBUTING.md
  DOCS/development/LOCAL-PR-CHECKLIST.md
  DOCS/development/SETUP.md
  DOCS/development/TESTING.md
  DOCS/features/AUTHENTICATION.md
  DOCS/features/ENVIRONMENT-FORWARDING.md
  DOCS/features/EXEC-CHANNEL.md
  DOCS/features/KEYBOARD-INTERACTIVE.md
  DOCS/features/PRIVATE-KEYS.md
  DOCS/features/SSO.md
  DOCS/getting-started/DOCKER.md
  DOCS/getting-started/INSTALLATION.md
  DOCS/getting-started/MIGRATION.md
  DOCS/getting-started/QUICK-START.md
  DOCS/reference/CHANGELOG.md
  DOCS/reference/DEPRECATED.md
  DOCS/reference/TROUBLESHOOTING.md
  MIGRATION_PROGRESS.md
  TS-MIGRATTE.md
  images/Screenshot_sm.png
  ts-migration-progress.md
Due: none

chore: ratchet up linting
  .prettierignore
  .prettierrc
  .prettierrc.json
  README.md
  app/app.ts
  app/auth/auth-pipeline.ts
  app/auth/auth-utils.ts
  app/config.ts
  app/connectionHandler.ts
  app/constants.ts
  app/envConfig.ts
  app/errors.ts
  app/io.ts
  app/logger.ts
  app/middleware.ts
  app/routes.ts
  app/security-headers.ts
  app/socket.ts
  app/ssh.ts
  app/utils.ts
  app/validation/credentials.ts
  app/validation/environment.ts
  app/validation/ssh.ts
  app/validators/exec-validate.ts
  app/validators/execSchema.ts
  eslint-proposed.config.mjs
  eslint.config.js
  eslint.config.mjs
  tests/crypto-utils.test.js
  tests/errors.test.js
  tests/logger.test.js
  tests/unit/validation-credentials.test.ts
  tests/unit/validation-ssh.test.ts
  tsconfig.build.json
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: extract pure functions and config modules (Phase 1 SRP)
  app/config/algorithm-presets.ts
  app/config/env-mapper.ts
  app/config/env-parser.ts
  app/config/index.ts
  app/envConfig.ts
  app/ssh.impl.d.ts
  app/ssh.ts
Due: eslint --fix

refactor: split auth providers and middleware (Phase 2 SRP)
  app/auth/auth-pipeline.ts
  app/auth/providers/auth-factory.ts
  app/auth/providers/auth-provider.interface.ts
  app/auth/providers/basic-auth.provider.ts
  app/auth/providers/index.ts
  app/auth/providers/manual-auth.provider.ts
  app/auth/providers/post-auth.provider.ts
  app/middleware.ts
  app/middleware/auth.middleware.ts
  app/middleware/body-parser.middleware.ts
  app/middleware/cookie.middleware.ts
  app/middleware/csrf.middleware.ts
  app/middleware/index.ts
  app/middleware/session.middleware.ts
  app/middleware/sso.middleware.ts
Due: eslint --fix

refactor: extract SSH connection management (Phase 3 SRP)
  app/connection/environment-filter.ts
  app/connection/index.ts
  app/connection/ssh-config.ts
  app/connection/ssh-connection-validator.ts
  app/connection/ssh-validator.ts
  app/routes.ts
  app/ssh.ts
Due: eslint --fix

refactor: decompose route handlers into pure functions (Phase 4 SRP)
  app/routes/handlers/connection.handler.ts
  app/routes/handlers/index.ts
  app/routes/handlers/route-validators.ts
  app/routes/handlers/ssh-auth.handler.ts
Due: eslint --fix

refactor: decompose socket handlers into modules (Phase 5 SRP)
  app/socket/auth-handler.ts
  app/socket/exec-handler.ts
  app/socket/index.ts
  app/socket/replay-handler.ts
  app/socket/shell-handler.ts
Due: eslint --fix

fix: resolve lint errors after SRP refactoring
  app/routes/handlers/route-validators.ts
  app/routes/handlers/ssh-auth.handler.ts
  app/socket/replay-handler.ts
  app/socket/shell-handler.ts
Due: eslint --fix

chore: extract and archive performance tests for future reimplementation
  package.json
  tests/playwright/README.md
  tests/playwright/performance/PERFORMANCE_TESTS.md
  tests/playwright/performance/websocket-latency.test.js.archived
  tests/playwright/performance/websocket-performance.test.js.archived
  tests/playwright/websocket-basic.test.js
Due: eslint --fix, prettier --write

chore: code cleanup
  app/config/algorithm-presets.ts
  app/config/index.ts
  app/connectionHandler.impl.d.ts
  app/routes/handlers/connection.handler.ts
  app/routes/handlers/index.ts
  app/routes/handlers/route-validators.ts
  app/routes/handlers/ssh-auth.handler.ts
  app/ssh.impl.d.ts
Due: eslint --fix

refactor: reduce code duplication and improve SRP compliance
  app/auth/providers/basic-auth.provider.ts
  app/auth/providers/post-auth.provider.ts
  app/socket/auth-handler.ts
  app/socket/exec-handler.ts
  app/socket/session-manager.ts
  app/socket/stream-manager.ts
  app/types/result.ts
  app/utils/credential-builder.ts
  app/utils/error-handling.ts
  app/utils/response-helpers.ts
Due: eslint --fix

test: migrate test suite to TypeScript
  package.json
  scripts/run-node-tests.mts
  tests/config-async.test.ts
  tests/config.test.ts
  tests/contracts/routes-stack.test.ts
  tests/contracts/socket-contracts.test.ts
  tests/contracts/socket-negative-auth-exec.test.js
  tests/contracts/socket-negative-auth-exec.test.ts
  tests/contracts/socket-negative-exec-more.test.js
  tests/contracts/socket-negative-exec-more.test.ts
  tests/contracts/socket-negative.test.ts
  tests/envConfig.test.js
  tests/envConfig.test.ts
  tests/exec-schema.test.ts
  tests/playwright/constants.ts
  tests/playwright/test-config.ts
  tests/routes-helpers.test.ts
  tests/socket.test.ts
  tests/test-helpers.ts
  tests/types/index.ts
  tests/utils.test.ts
Due: eslint --fix, prettier --write

chore: update dependencies and refactor port validation
  app/auth/auth-utils.ts
  app/routes.ts
  app/validation/credentials.ts
  app/validation/ssh.ts
  package-lock.json
  package.json
  tests/utils.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor: eliminate duplicate code in tests and clean up codebase
  app/envConfig.ts
  app/routes.ts
  config.json
  eslint-proposed.config.mjs
  eslint.config.mjs
  examples/sso-bigip-apm.html
  sonar-project.properties
  tests/config.test.ts
  tests/contracts/socket-contracts.test.ts
  tests/socket.test.ts
  tests/test-helpers.ts
Due: eslint --fix, prettier --write

fix: update CI workflow to use existing npm scripts
  .github/workflows/ts-migration.yml
  MIGRATION_PROGRESS.md
Due: none

fix: resolve TypeScript inference issue in client-path.ts
  app/client-path.ts
Due: eslint --fix

fix: resolve E2E test infrastructure issues
  package-lock.json
  package.json
  tests/playwright/websocket-auth.test.js
  types/webssh2_client.d.ts
Due: eslint --fix, prettier --write

refactor: decompose header processing into pure functions
  app/auth/auth-utils.ts
Due: eslint --fix

refactor: use Object.hasOwn() instead of Object.prototype.hasOwnProperty.call()
  app/auth/auth-utils.ts
  eslint.config.mjs
Due: eslint --fix

refactor: reduce cognitive complexity in socket.ts
  app/auth/session-utils.ts
  app/socket.ts
  app/validation/session.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
