Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: use test-constants secret and harden env hermeticity in transport E2E (#549)
  tests/playwright/transport-fallback.spec.ts
Due: eslint --fix

chore: pin client 5.3.0 + transport fallback E2E (#549) (#564)
  package-lock.json
  package.json
  tests/playwright/transport-fallback.spec.ts
Due: eslint --fix, prettier --write

chore: drop esbuild override, pin vite to 8.1.4 per supply-chain quarantine (#550)
  package-lock.json
  package.json
Due: prettier --write

chore: pin webssh2_client 5.4.0 (vite 8 build) (#550)
  package-lock.json
  package.json
Due: prettier --write

chore: pin eslint-plugin-sonarjs 4.0.3, defer 4.2.0 rule adoption (#550)
  package-lock.json
  package.json
Due: prettier --write

docs: retire esbuild CVE mitigation, vulnerable range cleared (#550)
  SECURITY.md
Due: none

chore: quarantine-pin playwright/lightningcss, drop orphaned rollup binding (#550)
  package-lock.json
  package.json
Due: prettier --write

docs: clarify esbuild optional-peer rendering in npm ls (#550)
  SECURITY.md
Due: none

chore: adopt Vite 8 via Vitest, retire esbuild mitigation (#550) (#565)
  SECURITY.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump webssh2_client to 5.4.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump webssh2_client to 5.4.1 (#568)
  package-lock.json
  package.json
Due: prettier --write

test(e2e): assert hashed client bundle filename in post-auth specs
  tests/playwright/post-auth.test.js
Due: eslint --fix

test(e2e): read injected config from JSON block in issue-102 smokes
  tests/playwright/issue-102-header-smoke.spec.ts
Due: eslint --fix

fix(test): apply brief's literal null-check pattern in getInjectedConfig
  tests/playwright/issue-102-header-smoke.spec.ts
Due: eslint --fix

test(e2e): disable theming via JSON-block rewrite, not legacy global
  tests/playwright/theming.spec.ts
Due: eslint --fix

test(e2e): fix theming via MutationObserver, not route interception
  tests/playwright/theming.spec.ts
Due: eslint --fix

test(e2e): match blocked legacy inline script structurally in CSP spec
  tests/playwright/csp-enforce.spec.ts
Due: eslint --fix

test(e2e): require exactly one blocked inline-script CSP violation
  tests/playwright/csp-enforce.spec.ts
Due: eslint --fix

test(e2e): restore Playwright baseline (#567) (#569)
  tests/playwright/csp-enforce.spec.ts
  tests/playwright/issue-102-header-smoke.spec.ts
  tests/playwright/post-auth.test.js
  tests/playwright/theming.spec.ts
Due: eslint --fix

chore(deps): bump webssh2_client to 5.4.2, eslint-plugin-sonarjs to 4.2.0
  package-lock.json
  package.json
Due: prettier --write

test(e2e): import connection constants in issue-102 smoke spec (#570)
  tests/playwright/issue-102-header-smoke.spec.ts
Due: eslint --fix

fix(lint): resolve eslint-plugin-sonarjs 4.2.0 findings (#566)
  app/socket/handlers/exec-safety.ts
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/integration/csp-headers.vitest.ts
  tests/playwright/csp-enforce.spec.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/playwright/websocket-async-auth-v2.test.js
  tests/playwright/websocket-auth-v2.test.js
  tests/unit/auth/credential-processor.vitest.ts
  tests/unit/auth/header-processor.vitest.ts
  tests/unit/auth/privatekey-authentication.vitest.ts
  tests/unit/config-enhanced.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/config/host-key-config.vitest.ts
  tests/unit/connection/ssh-validator.vitest.ts
  tests/unit/routes/telnet-routes.vitest.ts
  tests/unit/security/csp-report.vitest.ts
  tests/unit/services/sftp/security-fuzzing.vitest.ts
  tests/unit/services/sftp/transfer-manager.vitest.ts
  tests/unit/socket-v2-exec-edge-cases.vitest.ts
  tests/unit/socket-v2-exec.vitest.ts
  tests/unit/socket-v2-terminal-control.vitest.ts
  tests/unit/socket/handlers/prompt-validator.vitest.ts
  tests/unit/types/result.vitest.ts
  tests/unit/utils-parse-env-vars.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
  tests/unit/validation-credentials.vitest.ts
  tests/unit/validation-ssh.vitest.ts
  tests/unit/validation/socket-messages.vitest.ts
Due: eslint --fix

chore: client 5.4.2, sonarjs 4.2.0 adoption, issue-102 spec constants (#566, #567, #570) (#571)
  app/socket/handlers/exec-safety.ts
  package-lock.json
  package.json
  tests/contracts/socket-negative-auth-exec.vitest.ts
  tests/integration/csp-headers.vitest.ts
  tests/playwright/csp-enforce.spec.ts
  tests/playwright/e2e-term-size-replay-v2.spec.ts
  tests/playwright/issue-102-header-smoke.spec.ts
  tests/playwright/websocket-async-auth-v2.test.js
  tests/playwright/websocket-auth-v2.test.js
  tests/unit/auth/credential-processor.vitest.ts
  tests/unit/auth/header-processor.vitest.ts
  tests/unit/auth/privatekey-authentication.vitest.ts
  tests/unit/config-enhanced.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/config/host-key-config.vitest.ts
  tests/unit/connection/ssh-validator.vitest.ts
  tests/unit/routes/telnet-routes.vitest.ts
  tests/unit/security/csp-report.vitest.ts
  tests/unit/services/sftp/security-fuzzing.vitest.ts
  tests/unit/services/sftp/transfer-manager.vitest.ts
  tests/unit/socket-v2-exec-edge-cases.vitest.ts
  tests/unit/socket-v2-exec.vitest.ts
  tests/unit/socket-v2-terminal-control.vitest.ts
  tests/unit/socket/handlers/prompt-validator.vitest.ts
  tests/unit/types/result.vitest.ts
  tests/unit/utils-parse-env-vars.vitest.ts
  tests/unit/utils/html-transformer.vitest.ts
  tests/unit/validation-credentials.vitest.ts
  tests/unit/validation-ssh.vitest.ts
  tests/unit/validation/socket-messages.vitest.ts
Due: eslint --fix, prettier --write

fix(config): apply ssh.term to manual /ssh connections (#572)
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/configuration/URL-PARAMETERS.md
  app/connectionHandler.ts
  app/socket/adapters/ssh-config.ts
  tests/unit/connection-handler/term-injection.vitest.ts
  tests/unit/socket/ssh-config-terminal-defaults.vitest.ts
Due: eslint --fix

chore(deps): resolve 3 HIGH npm audit findings, apply quarantine-safe updates
  SECURITY.md
  package-lock.json
  package.json
Due: prettier --write

chore(security): suppress bundled-npm CVEs in Trivy image scan with assessments
  .trivyignore
  SECURITY.md
Due: none

fix(deps): remediate proxy-addr, engine.io, qs and dev-toolchain advisories
  SECURITY.md
  package-lock.json
  package.json
Due: prettier --write

fix(docker): bump base image and bundled npm to clear image-scan HIGHs
  .trivyignore
  Dockerfile
  SECURITY.md
Due: none

fix(deps): remediate proxy-addr, engine.io, qs and image-scan advisories (#577)
  .trivyignore
  Dockerfile
  SECURITY.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.json
