Repository billchurch/WebSSH2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

chore(ci): update notify-downstream [skip ci]
  .github/workflows/notify-downstreams.yml
  .github/workflows/release-please.yml
Due: none

chore(ci): update downstream [skip ci]
  .github/workflows/notify-downstreams.yml
  .github/workflows/release-please.yml
Due: none

chore(docs): fixes #431 update to /usr/src to new /srv location for Dockerfile
  DOCS/getting-started/DOCKER.md
  DOCS/getting-started/MIGRATION.md
  DOCS/reference/TROUBLESHOOTING.md
  examples/Dockerfile
Due: none

chore(ci): docker publish [skip ci]
  .github/workflows/docker-publish.yml
Due: none

chore(ci): docker correct for semver [skip ci]
  .github/workflows/docker-publish.yml
Due: none

chore(docs): update docker docs [skip ci]
  DOCS/getting-started/DOCKER.md
Due: none

fix: csp headers upgrade-insecure-requests cause browser to attempt https, removed. fixes #434
  app/app.ts
  app/security-headers.ts
Due: eslint --fix

fix: csp headers upgrade-insecure-requests cause browser to attempt https, removed. fixes #434 (#435)
  app/app.ts
  app/security-headers.ts
Due: eslint --fix

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix: private key authentication not working with config credentials
  app/connection/ssh-connection-validator.ts
  app/middleware/auth-processor.ts
  app/middleware/auth.middleware.ts
  app/routes/routes-v2.ts
  app/socket/adapters/service-socket-authentication.ts
  tests/unit/auth/privatekey-authentication.vitest.ts
Due: eslint --fix

fix: use TEST_PASSWORD constant to avoid hardcoded password lint error
  tests/unit/auth/privatekey-authentication.vitest.ts
Due: eslint --fix

refactor: reduce code duplication in privatekey-authentication tests
  tests/unit/auth/privatekey-authentication.vitest.ts
Due: eslint --fix

fix: add explicit return type to processAuthAndCreateSession helper
  tests/unit/auth/privatekey-authentication.vitest.ts
Due: eslint --fix

fix: private key authentication not working with config credentials (#443)
  app/connection/ssh-connection-validator.ts
  app/middleware/auth-processor.ts
  app/middleware/auth.middleware.ts
  app/routes/routes-v2.ts
  app/socket/adapters/service-socket-authentication.ts
  tests/unit/auth/privatekey-authentication.vitest.ts
Due: eslint --fix

fix: package.json & package-lock.json to reduce vulnerabilities (#440)
  package-lock.json
  package.json
Due: prettier --write

feat(auth): implement SSH authentication method policy and parser
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  README.md
  app/auth/auth-method-policy.ts
  app/config.ts
  app/config/auth-method-parser.ts
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/connection/ssh-connection-validator.ts
  app/constants.ts
  app/constants/validation.ts
  app/routes/handlers/ssh-config-handler.ts
  app/routes/routes-v2.ts
  app/schemas/config-schema.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/service-socket-shared.ts
  app/socket/handlers/auth-handler.ts
  app/types/branded.ts
  app/types/config.ts
  app/types/contracts/v1/http.ts
  app/types/contracts/v1/socket.ts
  app/utils/schema-validator.ts
  package-lock.json
  tests/contracts/routes-stack.vitest.ts
  tests/playwright/assets/config.template.json
  tests/test-utils.ts
  tests/types/index.ts
  tests/unit/auth/auth-method-policy.vitest.ts
  tests/unit/config/auth-method-parser.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/config/safe-logging.vitest.ts
  tests/unit/routes/ssh-config-handler.vitest.ts
  tests/unit/socket-v2-test-utils.ts
  tests/unit/socket/control-handler.vitest.ts
  tests/unit/socket/handlers/auth-handler.vitest.ts
  tests/unit/socket/handlers/terminal-handler.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
  tests/unit/socket/service-socket-authentication.vitest.ts
Due: eslint --fix, prettier --write

chore: update webssh2_client 2.1.0
  package-lock.json
  package.json
Due: prettier --write

Feature/ssh key visibility plan (#445)
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  README.md
  app/auth/auth-method-policy.ts
  app/config.ts
  app/config/auth-method-parser.ts
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/connection/ssh-connection-validator.ts
  app/constants.ts
  app/constants/validation.ts
  app/routes/handlers/ssh-config-handler.ts
  app/routes/routes-v2.ts
  app/schemas/config-schema.ts
  app/services/ssh/ssh-service.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/service-socket-shared.ts
  app/socket/handlers/auth-handler.ts
  app/types/branded.ts
  app/types/config.ts
  app/types/contracts/v1/http.ts
  app/types/contracts/v1/socket.ts
  app/utils/schema-validator.ts
  tests/contracts/routes-stack.vitest.ts
  tests/playwright/assets/config.template.json
  tests/test-utils.ts
  tests/types/index.ts
  tests/unit/auth/auth-method-policy.vitest.ts
  tests/unit/config/auth-method-parser.vitest.ts
  tests/unit/config/config-processor.vitest.ts
  tests/unit/config/safe-logging.vitest.ts
  tests/unit/routes/ssh-config-handler.vitest.ts
  tests/unit/socket-v2-test-utils.ts
  tests/unit/socket/control-handler.vitest.ts
  tests/unit/socket/handlers/auth-handler.vitest.ts
  tests/unit/socket/handlers/terminal-handler.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
  tests/unit/socket/service-socket-authentication.vitest.ts
Due: eslint --fix, prettier --write

chore: update ci build for docker
  .github/workflows/docker-publish.yml
Due: none

chore: container publish ci for arbitray tags
  .github/workflows/docker-publish.yml
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities (#453)
  package-lock.json
  package.json
Due: prettier --write

fix(docker): optimize builder stage and add timeout
  .github/workflows/docker-publish.yml
  Dockerfile
Due: none

feat(docker): append Docker image info to GitHub releases [skip ci]
  .github/workflows/docker-publish.yml
Due: none

chore: dockerfile and ci updates
  .dockerignore
  .github/workflows/docker-publish.yml
  Dockerfile
Due: none

feat: update webssh2_client to version 2.2.0
  package-lock.json
  package.json
Due: prettier --write

feat(docs): add keyboard capture documentation and quick reference
  DOCS/client/KEYBOARD_CAPTURE.md
  DOCS/client/KEYBOARD_CAPTURE_SUMMARY.md
  DOCS/client/README.md
Due: none

chore: fix ci release notes edit [skip ci]
  .github/workflows/docker-publish.yml
Due: none

Add GitHub version and Docker Pulls badges
  README.md
Due: none

chore: rename contributing [skip ci]
  CONTRIBUTING.md
Due: none

Clarify reporting process for enforcement [skip ci]
  CODE_OF_CONDUCT.md
Due: none

chore: add security policy and vulnerability reporting guidelines [skip ci]
  SECURITY.md
Due: none

chore: add issue templates for bug reports, feature requests, and general questions [skip ci]
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: none

feat: add SFTP support, fixes #322
  DOCS/README.md
  DOCS/configuration/CONFIG-JSON.md
  DOCS/configuration/ENVIRONMENT-VARIABLES.md
  DOCS/features/CLIENT-FEATURES.md
  DOCS/features/SFTP.md
  app/config/default-config.ts
  app/config/env-mapper.ts
  app/constants/sftp.ts
  app/constants/socket-events.ts
  app/logging/event-catalog.ts
  app/schemas/config-schema.ts
  app/services/factory.ts
  app/services/interfaces.ts
  app/services/sftp/path-validator.ts
  app/services/sftp/rate-limiter.ts
  app/services/sftp/sftp-service.ts
  app/services/sftp/sftp-session.ts
  app/services/sftp/transfer-manager.ts
  app/socket/adapters/service-socket-adapter.ts
  app/socket/adapters/service-socket-authentication.ts
  app/socket/adapters/service-socket-sftp.ts
  app/types/branded.ts
  app/types/config.ts
  app/types/contracts/v1/sftp.ts
  app/types/contracts/v1/socket.ts
  app/validation/socket/sftp.ts
  package-lock.json
  package.json
  tests/unit/services/sftp/path-validator.vitest.ts
  tests/unit/services/sftp/rate-limiter.vitest.ts
  tests/unit/services/sftp/transfer-manager.vitest.ts
Due: eslint --fix, prettier --write

chore: upgrade dependencies including vitest 4.0, eslint-plugin-unicorn 62, and security fixes
  DOCS/features/CLIENT-FEATURES.md
  app/logging/syslog-transport.ts
  app/middleware/cookie.middleware.ts
  app/routes/adapters/express-adapter.ts
  app/services/auth/auth-service.ts
  package-lock.json
  package.json
  tests/unit/services/ssh-service.vitest.ts
  tests/unit/socket/service-socket-adapter.vitest.ts
Due: eslint --fix, prettier --write

chore(test): playwright e2e test for SFTP functionality
  playwright.config.ts
  tests/playwright/assets/config.template.json
  tests/playwright/e2e-sftp.spec.ts
  tests/playwright/global-teardown.ts
  tests/test-constants.ts
Due: eslint --fix, prettier --write
